<template name="UsersDetails">
  <div class="content-cards scroll flexbox-column col-sm-8 hidden-sm-down">
    <div class="content-cards-inner flex scroll">
      <div class="card">
        <div class="card-block card-heading clearfix">
          <div class="card-heading-buttons pull-xs-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#user-edit-modal">
              <i class="ms-Icon ms-Icon--pencil"></i>
              Edit
            </a>
          </div>
          <h3 class="card-title">User details</h3>
        </div>
        <div class="list-group">

          <div class="row">
            <div class="col-sm-6">
              <div class="list-group-item">
                <img class="img-circle pull-xs-left" src="/avatars/avatar-placeholder-1.png">
                <p class="list-group-item-text">Name</p>
                <h4 class="list-group-item-heading">Mike Smith</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="list-group-item">
                <p class="list-group-item-text">Initials</p>
                <h4 class="list-group-item-heading">MS</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="list-group-item">
                <p class="list-group-item-text">Description</p>
                <h4 class="list-group-item-heading">VP of Sales</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block card-subheading">
          <h4 class="card-title">Contact details</h4>
        </div>
        <!-- ngInclude: 'includes/subcards-read/contact-details.html' -->
        <div ng-include="'includes/subcards-read/contact-details.html'" class="ng-scope">
          <div class="list-group ng-scope">
            <div class="list-group-item">
              <p class="list-group-item-text">Email</p>
              <h4 class="list-group-item-heading"><a href="mailto:">mike.smith@clifton-asset.co.uk</a></h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Address</p>
              <h4 class="list-group-item-heading">
                The Pavilions,
                <br>Eden Park,
                <br>Ham Green,
                <br>Bristol BS20 0DD
                <br>UK
              </h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Work phone</p>
                  <h4 class="list-group-item-heading"><a href="tel:">+44 1234 123 456</a></h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Mobile phone</p>
                  <h4 class="list-group-item-heading"><a href="tel:">+44 9870 654 321</a></h4>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Skype name</p>
              <h4 class="list-group-item-heading"><a href="skype:loremipsum?call">loremipsum</a></h4>
            </div>
          </div>
        </div>
        <div class="card-block card-subheading">
          <h4 class="card-title">Mike's superpowers for Clifton Asset Management Plc</h4>
        </div>
        <!-- ngInclude: 'includes/subcards-read/superpowers.html' -->
        <div ng-include="'includes/subcards-read/superpowers.html'" class="ng-scope">
          <div class="list-group ng-scope">
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><i class="ms-Icon ms-Icon--check text-success"></i> Create &amp;
                delete users</h4>
              <h4 class="list-group-item-heading"><i class="ms-Icon ms-Icon--check text-success"></i> Change
                organization settings</h4>
            </div>
            <div class="list-group-item">
              <h4 class="list-group-item-heading text-muted"><i class="ms-Icon ms-Icon--x text-danger"></i> Edit user
                permissions</h4>
              <h4 class="list-group-item-heading text-muted"><i class="ms-Icon ms-Icon--x text-danger"></i> View team to
                do lists</h4>
              <h4 class="list-group-item-heading text-muted"><i class="ms-Icon ms-Icon--x text-danger"></i> Create &amp;
                edit standards documents</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>