<template name="SS_Card_Modal">
  <div>
    <div class="relative">
      {{! NON-CONFORMITIES SUBCARDS}}

      {{#with NC}}
        {{> Subcards_Notify_Edit
            document=this
            documentType="non-conformity"
            onUpdate=onUpdateNotifyUserCb}}

        {{> Subcards_Occurrences_Edit
            _id=this._id
            occurrencesIds=this.occurrences}} {{! can`t find occurences. Where are they?}}

        {{> Subcards_Actions_Edit
            type="CA"
            documentId=this._id
            documentType="non-conformity"}}

        {{> Subcards_Actions_Edit
            type="PA"
            documentId=this._id
            documentType="non-conformity"}}

        {{> Subcards_ImprovementPlan_Edit
            documentId=this._id
            documentType="non-conformity"}}

        {{> Subcards_LessonsLearned_Edit
            documentId=this._id
            documentType="non-conformity"
            linkedTo=this.title
            linkedToId=this.sequentialId}}

        {{> Subcards_OtherFiles_Edit
            _id=this._id
            files=this.files
            uploaderMetaContext=uploaderMetaContext
            slingshotDirective=slingshotDirective}}
      {{/with}}

        <!-- {{! STANDARDS SUBCARDS}}

        {{> Subcards_NonConformities_Edit
            _id=this.NC._id
            _query=this.emptyQuery}}


        {{! RISKS SUBCARDS}}

        {{> Subcards_TreatmentPlan_Edit
            _id=this.Risk._id
            treatmentPlan=this.Risk.treatmentPlan}}


        {{! ACTIONS SUBCARDS}}

        {{> Subcards_Notes_Edit}} -->

    </div>
  </div>
</template>
