<template name="Discussion_Header">
	<div class="card-block card-heading chat-heading">
		<div class="discussions-hd-top">
			<div class="card-heading-buttons pull-xs-left">
				<a class="btn btn-secondary" href="{{pathFor 'standard' orgSerialNumber=organizationSerialNumber standardId=standardId query=getStandardFilter}}">
					<i class="fa fa-angle-left fa-lg margin-right"></i>
					Back
				</a>
			</div>

			<h3 class="card-title text-xs-center">
				Discussion
			</h3>
		</div>
	</div>
</template>
