<template name="UserEdit_ContactDetails">
  <div class="card-block card-block-collapse-toggle collapsed"
      {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
    <h4 class="card-title pull-xs-left">Contact details</h4>
    <i class="ms-Icon ms-Icon--menu disclosure-indicator pull-xs-right"></i>
  </div>
  <div class="card-block-collapse collapse" id="contact" {{b "ref: collapse"}}>
    <div class="card-block">
      {{#FormField label="Address"}}
        <textarea class="form-control" placeholder="Address" rows="4"
            {{b "value: address, focusout: updateAddress, enable: isEditable"}}></textarea>
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      {{/FormField}}

      {{#FormField label="Country"}}
        <select class="c-select"
          {{b "change: updateCountry, options: countries, optionsValue: code, optionsText: name, value: country, defaultText: 'Select a country', enable: isEditable"}}>
        </select>
      {{/FormField}}

      <div class="form-group row">
        <label class="form-control-label col-sm-4">Phone number(s)</label>
        <div class="col-sm-8 form-group-flex">
          <div class="form-group-flex-flex margin-right">
            <div class="input-group">
              <span class="input-group-addon">+44</span>
              <input type="text" class="form-control" placeholder="Number" value="1234 123 456"/>
            </div>
          </div>
          <div>
            <select class="c-select">
              <option selected="">Work</option>
              <option>Home</option>
              <option>Mobile</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-8 col-sm-offset-4 form-group-flex">
          <div class="form-group-flex-flex margin-right">
            <div class="input-group">
              <span class="input-group-addon">+44</span>
              <input type="text" class="form-control" placeholder="Number" value="7890 234 567"/>
            </div>
          </div>
          <div>
            <select class="c-select">
              <option>Work</option>
              <option>Home</option>
              <option selected="">Mobile</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-8 col-sm-offset-4">
          <button type="button" class="btn btn-secondary">Add another phone number</button>
        </div>
      </div>

      {{#FormField label="Skype name"}}
        <input type="email" class="form-control" placeholder="Skype name"
            {{b "value: skype, focusout: updateSkype, enable: isEditable"}} />
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      {{/FormField}}
    </div>
  </div>
</template>
