<template name="UserEdit_MainDetails">
  <div class="card-block">
    {{#FormField label="Photo"}}
      <div class="user-avatar img-wrapper img-circle md">
        <img {{b "attr: {src: avatar}"}}>
      </div>
      <span class="btn btn-secondary btn-file" {{b "if: isEditable"}}>
        Change <input type="file" {{b "value: avatarFile, change: updateAvatar, enable: isEditable"}}>
      </span>
    {{/FormField}}

    {{#FormField label="First name"}}
      {{#ClearableField field="firstName"}}
        <input type="text" class="form-control" placeholder="First name"
            {{b "value: firstName, focusout: updateFirstName, enable: isEditable"}} />
      {{/ClearableField}}
    {{/FormField}}

    {{#FormField label="Last name"}}
      {{#ClearableField field="lastName"}}
        <input type="text" class="form-control" placeholder="Last name"
            {{b "value: lastName, focusout: updateLastName, enable: isEditable"}} />
      {{/ClearableField}}
    {{/FormField}}

    {{#FormField label="Initials"}}
      {{#ClearableField field="initials"}}
        <input type="text" class="form-control" placeholder="Initials"
            {{b "value: initials, focusout: updateInitials, enable: isEditable"}} />
      {{/ClearableField}}
    {{/FormField}}

    {{#FormField label="Email"}}
      {{#ClearableField field="email"}}
        <input type="email" class="form-control" placeholder="Email"
            {{b "value: email, focusout: updateEmail, enable: isEditable"}} />
      {{/ClearableField}}
    {{/FormField}}

    {{#FormField label="Description"}}
      {{#ClearableField field="description"}}
        <input type="text" class="form-control" placeholder="Description"
            {{b "value: description, focusout: updateDescription, enable: isEditable"}} />
      {{/ClearableField}}
    {{/FormField}}

    {{#FormField label="Notifications"}}
      <button type="button" class="btn btn-checkbox btn-secondary"
          id="notifications-checkbox" data-toggle="button" autocomplete="off"
          {{b "click: setNotifications, class: {active: isNotificationsEnabled}, enable: isEditable"}}>
        <i class="ms-Icon ms-Icon--check"></i>
      </button>
    {{/FormField}}

    {{#FormField label="Notification sound"}}
      <div class="form-group-flex">
        <div class="form-group-flex-flex margin-right">
          <select class="c-select" id="notification-sounds"
              {{b "options: sounds, optionsValue: file, optionsText: name, value: notificationSound, defaultText: 'No sound', enable: isEditable && isNotificationsEnabled"}}>
          </select>
        </div>
        <button type="button" class="btn btn-secondary" {{b "click: playSound, enable: isEditable && isNotificationsEnabled && notificationSound"}}>
          <i class="fa fa-volume-up fa-lg" aria-hidden="true"></i>
        </button>
        {{#if notificationSound}}
          <audio id="audio">
            <source src="{{notificationSound}}.mp3" type="audio/mpeg" />
            <source src="{{notificationSound}}.ogg" type="audio/ogg" />
            <source src="{{notificationSound}}.m4r" type="audio/mpeg" />
          </audio>
        {{/if}}
      </div>
    {{/FormField}}
  </div>
</template>
