<template name="UserEdit_MainDetails">
  <div class="card-block">
    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Photo</label>
      <div class="col-sm-8 col-xs-12">
        <img class="img-circle" {{b "attr: {src: avatar}"}}>
        <span class="btn btn-secondary btn-file">
          Change <input type="file">
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">First Name</label>
      <div class="col-sm-8 col-xs-12">
        <input type="text" class="form-control" placeholder="First Name"
            {{b "value: firstName, focusout: updateFirstName"}} />
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Last Name</label>
      <div class="col-sm-8 col-xs-12">
        <input type="text" class="form-control" placeholder="Last Name"
            {{b "value: lastName, focusout: updateLastName"}} />
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Initials</label>
      <div class="col-sm-3 col-xs-12">
        <input type="text" class="form-control" placeholder="Initials"
            {{b "value: initials, focusout: updateInitials"}} />
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Email</label>
      <div class="col-sm-8 col-xs-12">
        <input type="email" class="form-control" placeholder="Email"
            {{b "value: email, focusout: updateEmail"}} />
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Description</label>
      <div class="col-sm-8 col-xs-12">
        <input type="text" class="form-control" placeholder="Description"
            {{b "value: description, focusout: updateDescription"}} />
        <button type="button" class="btn btn-link clear-field">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Password</label>
      <div class="col-sm-8 col-xs-12">
        <button type="button" class="btn btn-primary">Change password</button>
      </div>
    </div>
  </div>
</template>
