<template name="UserEdit_PhoneNumber">
  <div class="form-group row">
    <div class="form-group-flex col-sm-12">
      <div class="form-group-flex-flex margin-right">
        {{#ClearableField field="number"}}
          <input type="text" class="form-control" placeholder="Number"
              {{b "value: number, focusout: onPropertyChanged, enable: isEditable"}} />
        {{/ClearableField}}
      </div>
      <div>
        <select class="c-select"
          {{b "options: phoneTypes, value: type, enable: isEditable"}}>
        </select>
      </div>
    </div>
  </div>
</template>
