<template name="UserEdit_Roles">
  <div class="card-block card-block-collapse-toggle"
      {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
    <h4 class="card-title pull-xs-left" >
      Superpowers
    </h4>
    <h4 class="card-title pull-xs-right text-muted" {{b "text: rolesCount"}}>
    </h4>
  </div>

  <div class="card-block-collapse collapse" id="superpowers" {{b "ref: collapse, class: { shroud: !isEditable }"}}>
    <div class="card-block">
      <p class="pull-xs-left" {{b "text: title"}}></p>
      {{#each roles}}
        <div class="form-group row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-checkbox btn-secondary"
                data-toggle="button" autocomplete="off"
                {{b "attr: {id: this, aria-pressed: userHasRole(this)}, enable: isEditable, class: {active: userHasRole(this)}, click: updateRole(this)"}}>
              <i class="ms-Icon ms-Icon--check"></i>
            </button>
            <label class="btn-checkbox-label"
                {{b "text: roleName(this), attr: {for: this}"}}>
            </label>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
