<template name="UserEdit_Superpowers">
  <div class="card-block card-block-collapse-toggle collapsed" href="#superpowers" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Mike's superpowers for Clifton Asset Management Plc</h4>
    <h4 class="card-title pull-xs-right text-muted">2</h4>
  </div>
  <div class="card-block-collapse collapse" id="superpowers">
    <div class="card-block">
      <div class="form-group row">
        <div class="col-xs-12">
          <button id="superpower-1" type="button" class="btn btn-checkbox btn-secondary active" data-toggle="button" aria-pressed="true" autocomplete="off">
            <i class="ms-Icon ms-Icon--check"></i>
          </button>
          <label for="superpower-1" class="btn-checkbox-label">Create &amp; delete users</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <button id="superpower-2" type="button" class="btn btn-checkbox btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <i class="ms-Icon ms-Icon--check"></i>
          </button>
          <label for="superpower-2" class="btn-checkbox-label">Edit user permissions</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <button id="superpower-3" type="button" class="btn btn-checkbox btn-secondary active" data-toggle="button" aria-pressed="true" autocomplete="off">
            <i class="ms-Icon ms-Icon--check"></i>
          </button>
          <label for="superpower-3" class="btn-checkbox-label">Change organization settings</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <button id="superpower-4" type="button" class="btn btn-checkbox btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <i class="ms-Icon ms-Icon--check"></i>
          </button>
          <label for="superpower-4" class="btn-checkbox-label">View team to do lists</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <button id="superpower-5" type="button" class="btn btn-checkbox btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <i class="ms-Icon ms-Icon--check"></i>
          </button>
          <label for="superpower-5" class="btn-checkbox-label">Create &amp; edit standards documents</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block text-xs-center">
    <button type="button" class="btn btn-secondary">Delete</button>
  </div>
</template>
