<template name="UserEdit">
  {{#EditableModal
      id="user-edit-modal"
      title="Edit User"
      guideHtml=guideHtml
      moreInfoLink="#"
  }}

    {{#with user}}
      {{> UserEdit_MainDetails
          avatar=avatar
          firstName=firstName
          lastName=lastName
          initials=initials
          email=email
          description=description
          userId=userId}}

      {{> UserEdit_ContactDetails
          address=address
          country=country
          phones=phones
          skype=skype
          userId=userId}}

      {{> UserEdit_Superpowers
          superpowers=superpowers
          userId=userId
          organizationId=organizationId
          title=superpowersTitle}}
    {{/with}}

  {{/EditableModal}}
</template>
