<template name="OrganizationsMenu">
  <ul class="nav navbar-nav pull-xs-left">
    <li class="nav-item dropdown dropdown-company hidden-sm-down">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        <span class="hidden-xs-down"><img src="/img/default-logo.png"></span>
        <i class="fa fa-building hidden-sm-up"></i>
      </a>
      <div class="dropdown-menu">
        {{#each organizations}}
            <a class="dropdown-item {{isActivePath regex=regex}}" href="{{pathFor 'dashboardPage' _id=_id}}">{{name}}</a>
        {{/each}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item js-create-organization" href="#new-organization-modal" data-toggle="modal">Create organization</a>
        <a class="dropdown-item" href="#org-settings-modal" data-toggle="modal">Org settings</a>
      </div>
    </li>
  </ul>
  {{#ModalWindow name="new-organization" title="Create organization"}}
    <div class="form-group row">
      <label class="form-control-label col-sm-4 col-xs-12">Org name</label>
      <div class="col-sm-8 col-xs-12">
        <input type="text" class="form-control" placeholder="Organization name" {{b "value: orgName, enter: save"}}/>
        <button type="button" class="btn btn-link clear-field">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
    </div>
  {{/ModalWindow}}
</template>
