<template name="UserDirectory_InviteUsers">
  {{#ModalWindow name="invite" title="Invite users" saveButtonText="Invite"}}
    <div class="card-block">
      {{> UserDirectory_InviteUsers_UserEntry}}
      {{> UserDirectory_InviteUsers_UserEntry}}
      {{> UserDirectory_InviteUsers_UserEntry}}
      {{> UserDirectory_InviteUsers_UserEntry}}
      <hr>
      <div class="form-group">
        <label class="control-label"><strong>Add a welcome message</strong></label>
        <textarea class="form-control" rows="6">
          Hi there. We'll be using Plio to store documents, complete worksheets and track issues during this project.
        </textarea>
      </div>
    </div>
  {{/ModalWindow}}
</template>