<template name="StandardsHeader">
  <div class="navbar">
    <span class="navbar-title dropdown">
      {{#if isDiscussionOpened}}
        {{#with standard}}
          <div class="nav-item">{{this.title}} - discussion</div>
        {{/with}}
      {{else}}
        <a class="dropdown-toggle pointer" data-toggle="dropdown">Compliance standards by - {{currentFilterLabel}}</a>
        <div class="dropdown-menu">
          {{#each filters}}
            <a class="dropdown-item pointer"
              {{b "class: { active: isActiveStandardFilter(this.id) }, text: 'By ' + this.label, click: selectFilter(this.id)"}}>
            </a>
          {{/each}}
        </div>
      {{/if}}
    </span>
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item">
        <a class="nav-link pointer" {{b "click: onNavigate"}}>
        	<i class="fa fa-angle-left"></i>
        </a>
      </li>
    </ul>
  </div>
</template>
