<template name="OrganizationSettings_MainSettings">
  <div class="card-block">
    {{#FormField label="Org name"}}
      {{#ClearableField field="name"}}
        <input {{b "value: name, focusout: updateName"}} type="text"
            class="form-control" placeholder="Org name" />
      {{/ClearableField}}
    {{/FormField}}

    {{#if isEditable}}
      {{> OrganizationSettings_OrgTransfer ownerId=ownerId}}
    {{else}}
      {{#FormField label="Org owner"}}
        <input type="text" class="form-control" disabled value="{{userFullNameOrEmail currentUser}}" />
      {{/FormField}}
    {{/if}}

    {{#FormField label="Default currency"}}
      <div class="btn-group btn-group-nomargin" data-toggle="buttons">
        {{#each currencies}}
          <label class="btn btn-secondary"
              {{b "{click: updateCurrency(this), class: {active: isSelectedCurrency(this)}}"}}>
            <input type="radio" name="options" id="{{this}}" autocomplete="off">
            {{this}}
          </label>
        {{/each}}
      </div>
    {{/FormField}}
  </div>
</template>
