<template name="OrganizationSettings_MainSettings">
  <div class="card-block">
    {{#FormField label="Org name"}}
      {{#ClearableField field="name"}}
        <input {{b "value: name, focusout: updateName"}} type="text"
            class="form-control" placeholder="Org name" />
        <button type="button" class="btn btn-link clear-field">
          <i class="fa fa-times-circle"></i>
        </button>
      {{/ClearableField}}
    {{/FormField}}

    {{#FormField label="Org owner"}}
      <div class="input-group">
        <input value="" type="text" class="form-control" disabled="">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary no-margin disabled">
            Transfer
          </button>
        </span>
      </div>
    {{/FormField}}

    {{#FormField label="Default currency"}}
      <div class="btn-group btn-group-nomargin" data-toggle="buttons">
        {{#each currencies}}
          <label class="btn btn-secondary"
              {{b "{click: updateCurrency(this), class: {active: isSelectedCurrency(this)}}"}}>
            <input type="radio" name="options" id="{{this}}" autocomplete="off">
            {{this}}
          </label>
        {{/each}}
      </div>
    {{/FormField}}
  </div>
</template>
