<template name="Organizations_NcGuidelines">
  <div class="card-block card-block-collapse-toggle collapsed"
      href="#nonconformity-guidelines" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Non-conformity guidelines</h4>
  </div>
  <div class="card-block-collapse collapse" id="nonconformity-guidelines">
    <div class="card-block">
      {{> Organizations_NcGuideline ncType="minor" text=guidelines.minor onChange=onChange}}
      {{> Organizations_NcGuideline ncType="major" text=guidelines.major onChange=onChange}}
      {{> Organizations_NcGuideline ncType="critical" text=guidelines.critical onChange=onChange}}
    </div>
  </div>
</template>
