<template name="Organizations_NcReminders">
  <div class="card-block card-block-collapse-toggle collapsed" href="#reminders"
      data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Reminders</h4>
  </div>
  <div class="card-block-collapse collapse" id="reminders">
    <div class="card-block">
      {{> Organizations_NcReminder
          title="Minor non-conformity"
          intervalTimeUnit=reminders.minor.interval.timeUnit
          intervalTimeValue=reminders.minor.interval.timeValue
          pastDueTimeUnit=reminders.minor.pastDue.timeUnit
          pastDueTimeValue=reminders.minor.pastDue.timeValue
          ncType="minor"
          onChange=onChangeCb}}

      {{> Organizations_NcReminder
          title="Major non-conformity"
          intervalTimeUnit=reminders.major.interval.timeUnit
          intervalTimeValue=reminders.major.interval.timeValue
          pastDueTimeUnit=reminders.major.pastDue.timeUnit
          pastDueTimeValue=reminders.major.pastDue.timeValue
          ncType="major"
          onChange=onChangeCb}}

      {{> Organizations_NcReminder
          title="Critical non-conformity"
          intervalTimeUnit=reminders.critical.interval.timeUnit
          intervalTimeValue=reminders.critical.interval.timeValue
          pastDueTimeUnit=reminders.critical.pastDue.timeUnit
          pastDueTimeValue=reminders.critical.pastDue.timeValue
          ncType="critical"
          onChange=onChangeCb}}
    </div>
  </div>
</template>
