<template name="Organizations_NcReminder">
  <legend>{{title}}</legend>
  <div class="form-group form-group-inline">
    <label class="form-control-label">Remind every</label>
    {{> TimePicker
        timeValue=intervalTimeValue
        timeUnit=intervalTimeUnit
        cssClass="margin-right"
        onChange=onChangeCb
        ncType=ncType
        reminderType="interval"}}
    <label class="form-control-label">until</label>
    {{> TimePicker
        timeValue=pastDueTimeValue
        timeUnit=pastDueTimeUnit
        cssClass="margin-right"
        onChange=onChangeCb
        ncType=ncType
        reminderType="pastDue"}}
    <label class="form-control-label">past due</label>
  </div>
</template>
