<template name="OrganizationSettings_NcStepTimes">
  <div class="card-block card-block-collapse-toggle collapsed"
      href="#workflow-defaults" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Workflow defaults</h4>
  </div>
  <div class="card-block-collapse collapse" id="workflow-defaults">
    <div class="card-block">
      {{> OrganizationSettings_NcStepTime
          title="Minor non-conformity"
          timeValue=stepTimes.minor.timeValue
          timeUnit=stepTimes.minor.timeUnit
          ncType="minor"
          onChange=onChangeCb}}

      {{> OrganizationSettings_NcStepTime
          title="Major non-conformity"
          timeValue=stepTimes.major.timeValue
          timeUnit=stepTimes.major.timeUnit
          ncType="major"
          onChange=onChangeCb}}

      {{> OrganizationSettings_NcStepTime
          title="Critical non-conformity"
          timeValue=stepTimes.critical.timeValue
          timeUnit=stepTimes.critical.timeUnit
          ncType="critical"
          onChange=onChangeCb}}
    </div>
  </div>
</template>
