<template name="OrganizationSettings">

    {{> OrganizationSettings_MainSettings
        name=name
        ownerId=ownerId
        currency=currency
        organizationId=organizationId
        isEditable=true}}

    {{> OrganizationSettings_Departments
        departments=departments
        organizationId=organizationId}}

    {{> OrganizationSettings_StandardTypes
        standardsTypes=standardsTypes
        organizationId=organizationId}}

    {{> OrganizationSettings_StandardsBookSections
        standardsBookSections=standardsBookSections
        organizationId=organizationId}}

    {{> OrganizationSettings_WorkflowDefaults
        workflowDefaults=workflowDefaults
        organizationId=organizationId}}

    {{> OrganizationSettings_Reminders
        reminders=reminders
        organizationId=organizationId}}

    {{> OrganizationSettings_NcGuidelines
        guidelines=NCGuidelines
        organizationId=organizationId}}

    {{> OrganizationSettings_RKScoringGuidelines
        guidelines=rkScoringGuidelines
        organizationId=organizationId}}
</template>
