<template name="Organizations_Settings">
  {{#ModalWrapper id="org-settings-modal"}}
    {{> ModalHeading title="Org settings"}}

    {{#GuidancePanel moreInfoLink="#"}}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent vestibulum accumsan nulla, non pulvinar neque.
        Quisque faucibus tempor imperdiet. Suspendisse feugiat,
        nibh nec maximus pellentesque, massa nunc mattis ipsum,
        in dictum magna arcu et ipsum.
      </p>
    {{/GuidancePanel}}

    <form>
      {{> Organizations_MainSettings 
          name=name 
          currency=currency 
          organizationId=organizationId
          setSavingState=setSavingStateFn}}

      {{> Organizations_Departments 
          departments=departments 
          organizationId=organizationId
          setSavingState=setSavingStateFn}}
      
      {{> Organizations_StandardsTypes 
          standardsTypes=standardsTypes
          organizationId=organizationId
          setSavingState=setSavingStateFn}}
      
      {{> Organizations_StandardsBookSections 
          standardsBookSections=standardsBookSections 
          organizationId=organizationId
          setSavingState=setSavingStateFn}}
      
      {{> Organizations_NcStepTimes 
          stepTimes=stepTimes 
          organizationId=organizationId
          setSavingState=setSavingStateFn}}
      
      {{> Organizations_NcReminders 
          reminders=reminders 
          organizationId=organizationId
          setSavingState=setSavingStateFn}}
      
      {{> Organizations_NcGuidelines 
          guidelines=guidelines 
          organizationId=organizationId
          setSavingState=setSavingStateFn}}
    </form>
  {{/ModalWrapper}}
</template>
