<template name="OrganizationSettings">
   
    {{> OrganizationSettings_MainSettings
        name=name
        currency=currency
        organizationId=organizationId}}

    {{> OrganizationSettings_Departments
        departments=departments
        organizationId=organizationId}}

    {{> OrganizationSettings_StandardTypes
        standardsTypes=standardsTypes
        organizationId=organizationId}}

    {{> OrganizationSettings_StandardsBookSections
        standardsBookSections=standardsBookSections
        organizationId=organizationId}}

    {{> OrganizationSettings_NcStepTimes
        stepTimes=stepTimes
        organizationId=organizationId}}

    {{> OrganizationSettings_NcReminders
        reminders=reminders
        organizationId=organizationId}}

    {{> OrganizationSettings_NcGuidelines
        guidelines=guidelines
        organizationId=organizationId}}

</template>
