<template name="OrganizationSettings_StandardsTypes">
  <div class="card-block card-block-collapse-toggle collapsed" href="#standard-types"
      data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Standards types</h4>
    <h4 class="card-title pull-xs-right">
      <span class="text-muted">{{standardsTypesCount}}</span>
    </h4>
  </div>
  <div class="card-block-collapse collapse" id="standard-types">
    <div class="card-block">
      <div id="standard-types-forms">
        {{#each standardsTypes}}
          {{> OrganizationSettings_StandardsType 
              _id=this._id
              name=this.name
              abbreviation=this.abbreviation
              onChange=onChangeCb
              onDelete=onDeleteCb}}
        {{/each}}
      </div>
      <button class="btn btn-primary" type="button" {{b "click: addStandardsTypeForm"}}>
        Add standards type
      </button>
    </div>
  </div>
</template>
