<template name="OrganizationSettings_StandardsType">
  <div class="form-group form-group-flex">
    <div class="form-group-flex-flex">
      {{#ClearableField field="name"}}
        <input type="text" class="form-control" placeholder="Standard type"
            {{b "value: name, focusout: onFocusOut"}} />
      {{/ClearableField}}
    </div>
    {{#ClearableField field="abbreviation"}}
      <input type="text" class="form-control margin-left" placeholder="Short"
          {{b "value: abbreviation, focusout: onFocusOut"}} style="width:100px" />
    {{/ClearableField}}
    <button type="button" class="btn btn-secondary btn-icon margin-left"
        {{b "click: delete"}}>
      <i class="fa fa-times-circle"></i>
    </button>
  </div>
</template>
