<template name="OrganizationSettings_StandardsBookSections">
  <div class="card-block card-block-collapse-toggle collapsed"
    {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
    <h4 class="card-title pull-xs-left">Standards book sections</h4>
    <h4 class="card-title pull-xs-right">
      <span class="text-muted" {{b "if: templateInstance.subscriptionsReady, text: standardsBookSectionsCount"}}></span>
      <i class="fa fa-spinner fa-pulse fa-fw margin-bottom" {{b "if: !templateInstance.subscriptionsReady"}}></i>
    </h4>
  </div>
  <div class="card-block-collapse collapse" id="standards-book-sections" {{b "ref: collapse"}}>
    <div class="card-block">
      <div id="standards-book-sections-forms" {{b "ref: forms"}}>
        {{#each standardsBookSections}}
          {{> OrganizationSettings_StandardsBookSection
              _id=this._id
              title=this.title
              onChange=onChangeCb
              onDelete=onDeleteCb}}
        {{/each}}
      </div>
      <button class="btn btn-primary" type="button"
          {{b "click: addForm('OrganizationSettings_StandardsBookSection')"}}>
        Add section
      </button>
    </div>
  </div>
</template>
