<template name="OrganizationSettings_StandardsBookSections">
  <div class="card-block card-block-collapse-toggle collapsed"
      href="#standards-book-sections" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Standards book sections</h4>
    <h4 class="card-title pull-xs-right">
      <span class="text-muted" {{b "text: standardsBookSectionsCount"}}>
      </span>
    </h4>
  </div>
  <div class="card-block-collapse collapse" id="standards-book-sections">
    <div class="card-block">
      <div id="standards-book-sections-forms">
        {{#each standardsBookSections}}
          {{> OrganizationSettings_StandardsBookSection
              _id=this._id
              name=this.name
              number=this.number
              onChange=onChangeCb
              onDelete=onDeleteCb}}
        {{/each}}
      </div>
      <button class="btn btn-primary" type="button"
          {{b "click: addStandardsBookSectionForm"}}>
        Add section
      </button>
    </div>
  </div>
</template>
