{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "dynamic-import-node",
    "css-modules-transform"
  ],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": true,
        "browser": true
      }
    }]
  ]
}