{
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": true,
        "browser": true
      }
    }]
  ]
}