<template name="DashboardLayout">
  {{> DashboardHeader}}
  <div class="content scroll">
    <div class="container">
      <div class="row">
        <div class="content-cards col-sm-12">
          {{#if isReady}}
            {{#with organization}}
              {{> Template.dynamic template=content}}
              {{> DashboardFooter}}
            {{else}}
              {{> NotFoundPage subject="organization" subjectId=organizationSerialNumber}}
            {{/with}}
          {{else}}
            {{> PreloaderPage}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
