<template name="Standards_Card_Read">
  <div class="content-cards-inner flex expandable" {{b "class: { expanded: isFullScreenMode, content: !standard }"}}>
    {{#if standards.count}}
      {{#with standard}}
        <div class="card standard-details">

          {{> Standards_Card_Read_Header (headerArgs)}}

          <div class="content-list">
            <a class="list-group-item list-group-subheading list-group-toggle pointer" {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
              <h4 class="list-group-item-heading pull-left">
                <span {{b "text: this.title"}}></span>
                <span class="label label-danger" {{b "if: this.status === 'draft'"}}>
                  <span {{b "text: 'Issue ' + this.issueNumber"}}></span>
                  <span>Draft</span>
                </span>
              </h4>
            </a>

            <div class="list-group-collapse collapse" {{b "ref: collapse, class: { in: !collapsed }"}}>
              <div class="list-group">

                {{#with this.description}}
                  {{> Fields_ListGroupItem_Read
                      label="Description"
                      text=this}}
                {{/with}}

                <div class="row">
                  {{#with this.issueNumber}}
                    <div class="col-sm-6">
                      {{> Fields_ListGroupItem_Read
                          label="Issue number"
                          text=this}}
                    </div>
                  {{/with}}
                  {{#with section}}
                    <div class="col-sm-6">
                      {{> Fields_ListGroupItem_Read
                          label="Section"
                          text=this.title}}
                    </div>
                  {{/with}}
                </div>

                <div class="row">
                  {{#with type}}
                    <div class="col-sm-6">
                      {{> Fields_ListGroupItem_Read
                          label="Type"
                          text=this.title}}
                    </div>
                  {{/with}}
                  {{#with owner}}
                    <div class="col-sm-6">
                      {{> Fields_ListGroupItem_Read
                          label="Owner"
                          text=(userNameOrEmail this)}}
                    </div>
                  {{/with}}
                </div>

                {{#if isReady}}
                  {{#with departmentsIds}}
                    {{> Departments_Read departmentsIds=this}}
                  {{/with}}
                {{/if}}

                {{> SCSource source=this.source1 id=1}}

                {{> SCSource source=this.source2 id=2}}

              </div>

              {{#with notify}}
                {{> Subcards_Notify_Read users=this}}
              {{/with}}

              {{#if isReady}}
                {{> Subcards_NonConformities_Read _query=_getNCsQuery}}

                {{> Subcards_Actions_Read
                    type=ActionTypes.CORRECTIVE_ACTION
                    standardId=this._id}}

                {{> Subcards_Actions_Read
                    type=ActionTypes.PREVENTATIVE_ACTION
                    standardId=this._id}}

                {{> Subcards_ImprovementPlan_Read improvementPlan=this.improvementPlan}}

                {{> Subcards_LessonsLearned_Read documentId=this._id}}
              {{else}}
                <div class="m-t-3">
                  {{> PreloaderPage size=1}}
                </div>
              {{/if}}
            </div>

            {{> SourceWordDocument source=source1}}

            {{> SourceWordDocument source=source2}}

            {{> CardDocChangelog document=this documentType="standard"}}
          </div>
        </div>
      {{else}}
        {{> PreloaderPage}}
      {{/with}}
    {{else}}
      <div class="card">
        <div class="card-block card-heading">
          {{#if isActiveStandardFilter 3}}
            <h5>There are no deleted standards yet!</h5>
          {{else}}
            <h5>There are no standards yet! Click on the 'Add' button to create your first standard.</h5>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
