<template name="ModalHeading">
  <div class="card-block card-heading">
    <div class="card-heading-buttons pull-xs-left">
  		<button type="button" class="btn btn-secondary" data-dismiss="modal">
  			Cancel
  		</button>
    </div>
    <div class="card-heading-buttons pull-xs-right">
      <button type="button" class="btn btn-link btn-icon guidance-panel-open collapsed">
  			<i class="fa fa-question-circle"></i>
  		</button>
  		<button type="button" class="btn btn-primary" data-dismiss="modal">
  			Save
  		</button>
    </div>
    <h4 class="card-title">Org settings</h4>
  </div>
</template>
