<template name="Dashboard_Footer">
  <div class="dashboard-footer">
    <div class="dashboard-footer-buttons">
      <a type="button" class="btn btn-secondary" href="{{supportForumUrl}}" target="_blank">
        Support forum
      </a>
      <a class="btn btn-secondary" href="{{pathFor 'helpDocs'}}">
        <i class="fa fa-question margin-right"></i>
        Help center
      </a>
    </div>
    <div class="dashboard-footer-logo">
      <img src="/plio-logo.png"/>
    </div>
  </div>
</template>
