<template name="ModalWindow">
  {{#ModalWrapper id=id}}
    <div class="card-block card-heading modal-window-heading" {{b "ref: modalHeading"}}>
      <div class="card-heading-buttons pull-xs-left">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>

      <h4 class="card-title">{{title}}</h4>

      <div class="card-heading-buttons pull-xs-right">
        <button type="button" class="btn btn-link btn-icon guidance-panel-open"
          {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
          <i class="fa fa-question-circle"></i>
        </button>
        <button type="button" class="btn btn-primary submit-modal-button"
          {{b "click: parent.onSubmitModal, class: {disabled: isSaving}"}} >
          {{#if isSaving}}<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>{{/if}}
          <span {{b "text: submitCaption"}}></span>
        </button>
      </div>
    </div>

    <!--help panel-->
    <div class="collapse guidance-panel" {{b "ref: collapse"}}>
      <div class="card-block">
        <div>
          {{{guideHtml}}}
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-link guidance-panel-close"
            {{b "click: toggleCollapse"}}>
            Close
          </a>
          <a {{b "attr: {href: moreInfoLink}"}} class="btn btn-link">More info</a>
        </div>
      </div>
    </div>

    <!--notification panel-->
    <div class="collapse modal-error-section" {{b "ref: errorSection"}}>
      <div class="card-block">
        <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
        <span {{b "text: error"}}>
        </span>
      </div>
    </div>

    <form>
      {{> Template.contentBlock}}
    </form>
  {{/ModalWrapper}}
</template>
