<template name="ModalWindow">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" {{b "ref: modal"}}>
    <div class="modal-dialog content-cards">
      <div class="card">
        <div class="card-block card-heading modal-window-heading">
          <div class="card-heading-buttons"
            {{b "unless: isVariation('simple'), class: { pull-xs-left: !isVariation('save'), pull-xs-right: isVariation('save') }"}}>
            {{#if helpText}}
              <button type="button" class="btn btn-link btn-icon guidance-panel-open"
                {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
                <i class="fa fa-question-circle"></i>
              </button>
            {{/if}}
            <button type="button" class="btn btn-primary submit-modal-button"
              {{b "if: isVariation('save'), click: child.save, disable: isSaving, class: { disabled: isSaving }"}}>
              <i class="fa fa-spinner fa-pulse fa-fw margin-bottom" {{b "if: isSaving && isVariation('save')"}}></i>
              <span {{b "text: submitCaptionText"}}></span>
            </button>
          </div>

          <h4 class="card-title" {{b "text: _title"}}></h4>

          <div class="card-heading-buttons"
            {{b "class: { pull-xs-left: isVariation('save'), pull-xs-right: !isVariation('save')  }"}}>
            <button type="button" class="btn btn-secondary"
                {{b "class: { disabled: isDisabled }, disable: isCloseButtonDisabled, click: closeModal"}}>
              <i class="fa fa-spinner fa-pulse fa-fw margin-bottom" {{b "if: showCloseButtonSpinner"}}></i>
              <span {{b "unless: isVariation('save'), text: closeCaptionText"}}></span>
              <span {{b "if: isVariation('save'), text: cancelCaption"}}></span>
            </button>
          </div>
        </div>

        <!--help panel-->
        <div class="collapse guidance-panel" {{b "ref: collapse"}}>
          <div class="card-block">
            <div>{{helpText}}</div>
            <div class="btn-group">
              <a class="btn btn-link guidance-panel-close pointer"
                {{b "click: toggleCollapse"}}>
                <span>Close</span>
              </a>
            </div>
          </div>
        </div>

        <!--notification panel-->
        <div class="collapse modal-error-section" {{b "ref: errorSection"}}>
          <div class="card-block">
            <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
            <span {{b "text: error"}}>
            </span>
          </div>
        </div>

        <div class="modal-window-content">
          {{> Template.dynamic template=template}}
        </div>
      </div>
    </div>
  </div>
</template>
