<template name="ModalWindow">
  <div class="modal fade" {{b "ref: modal"}}>
    <div class="modal-dialog">
      <div class="card">
        <div class="card-block card-heading modal-window-heading">
          <div class="card-heading-buttons"
            {{b "unless: isVariation('simple'), class: { pull-xs-left: !isVariation('save'), pull-xs-right: isVariation('save') }"}}>
            <button type="button" class="btn btn-link btn-icon guidance-panel-open"
              {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
              <i class="fa fa-question-circle"></i>
            </button>
            <button type="button" class="btn btn-primary submit-modal-button" {{b "if: isVariation('save'), text: submitCaption"}}>
            </button>
          </div>

          <h4 class="card-title" {{b "text: title"}}></h4>

          <div class="card-heading-buttons"
            {{b "class: { pull-xs-left: isVariation('save'), pull-xs-right: !isVariation('save')  }"}}>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" {{b "class: { disabled: isSaving }"}}>
              <i class="fa fa-spinner fa-pulse fa-fw margin-bottom" {{b "if: isSaving"}}></i>
              Cancel
            </button>
          </div>
        </div>

        <!--help panel-->
        <div class="collapse guidance-panel" {{b "ref: collapse"}}>
          <div class="card-block">
            <div {{b "html: guideHtml"}}>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn-link guidance-panel-close"
                {{b "click: toggleCollapse"}}>
                Close
              </a>
              <a {{b "attr: { href: moreInfoLink }"}} class="btn btn-link">More info</a>
            </div>
          </div>
        </div>

        <!--notification panel-->
        <div class="collapse modal-error-section" {{b "ref: errorSection"}}>
          <div class="card-block">
            <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
            <span {{b "text: error"}}>
            </span>
          </div>
        </div>

        <form>
          {{> Template.dynamic template=template}}
        </form>
      </div>
    </div>
  </div>
</template>
