<template name="Risks_List">
  {{#List_Read
    ref="list"
    _id=riskId
    onModalOpen=onModalOpen
    onSearchInputValue=onSearchInputValue}}

      {{#if isActiveRiskFilter 1}}
        {{#each risksByTypes}}
          {{> ListItem
              template='Risks_SectionItem'
              title=this.title
              items=this.items
              unreadMessagesCount=this.unreadMessagesCount}}
        {{/each}}
      {{/if}}

      {{#if isActiveRiskFilter 2}}
        {{#each risksByStatuses}}
          {{> ListItem
              template="Risks_SectionItem"
              title=(getStatusName this.status)
              items=this.items
              unreadMessagesCount=this.unreadMessagesCount}}
        {{/each}}
      {{/if}}

      {{#if isActiveRiskFilter 3}}
        {{#each risksByDepartments}}
          {{> ListItem
              template="Risks_SectionItem"
              title=this.name
              closeAllOnCollapse=false
              items=this.items
              unreadMessagesCount=this.unreadMessagesCount}}
        {{/each}}
      {{/if}}

      {{#if isActiveRiskFilter 4}}
        {{#each deleted}}
          {{> Risks_Item}}
        {{/each}}
      {{/if}}

  {{/List_Read}}
</template>
