<template name="RisksList">
  <div class="card">
    <form class="search-form">
      <div class="form-group row with-loader" {{b "class: { loading: animating }"}}>
        {{#ClearableField field="searchText"}}
          <input type="text" class="form-control" placeholder="Search..."
              disabled={{animating}} {{b "value: searchText, focus: focused, change: searchOnAfterKeyUp, throttle: 500"}} />
        {{/ClearableField}}
        <i class="small-loader fa fa-circle-o-notch fa-spin"></i>
      </div>
      <a class="btn btn-primary" {{b "click: openAddRiskModal"}}>
        <i class="fa fa-plus"></i>
        <span>Add</span>
      </a>
    </form>

    <div class="list-group list-group-accordion">

      {{#if isActiveRiskFilter 'type'}}
        {{#each types}}
          {{> ListItem
              template='RiskSectionItem'
              title=this.title
              _query=(_getTypeQuery this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveRiskFilter 'status'}}
        {{#each statuses}}
          {{> ListItem
              template="RiskSectionItem"
              title=(getStatusName this)
              _query=(_getStatusQuery this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveRiskFilter "department"}}
        {{#each departments}}
          {{> ListItem
              template="RiskSectionItem"
              title=this.name
              closeAllOnCollapse=false
              _query=(_getDepartmentQuery this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveRiskFilter 'deleted'}}
        {{#each risksDeleted}}
          {{> RiskItem}}
        {{/each}}
      {{/if}}

      {{#if searchText}}
        <div class="list-group-item list-group-subheading search-results-meta text-muted" {{b "text: searchResultsText"}}></div>
      {{/if}}
    </div>
  </div>
</template>
