<template name="WorkInbox_Header">
  <div class="navbar">
    <span class="navbar-title dropdown">
      <a class="dropdown-toggle pointer" data-toggle="dropdown">Work inbox - {{currentFilterLabel}}</a>
      <div class="dropdown-menu">
        {{#each filters}}
          <a class="dropdown-item pointer"
            {{b "class: { active: isActiveWorkInboxFilter(this.id) }, text: this.label, click: selectFilter(this.id)"}}>
          </a>
        {{/each}}
      </div>
    </span>
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item">
        <a class="nav-link pointer" {{b "click: navigate"}}>
        	<i class="fa fa-angle-left"></i>
        </a>
      </li>
    </ul>
  </div>
</template>
