<template name="WorkInbox_Header">
  <div class="navbar">
    <span class="navbar-title dropdown">
      <a class="dropdown-toggle pointer" data-toggle="dropdown" {{b "text: 'Work inbox - ' + activeWorkInboxFilter"}}></a>
      <div class="dropdown-menu">
        {{#each filters}}
          <a class="dropdown-item pointer"
            {{b "class: { active: isActiveWorkInboxFilter(this) }, text: this, click: selectFilter(this)"}}>
          </a>
        {{/each}}
      </div>
    </span>
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item">
        <a class="nav-link pointer" {{b "click: navigate"}}>
        	<i class="fa fa-angle-left"></i>
        </a>
      </li>
    </ul>
  </div>
</template>
