<template name="StandardsList">
  <div class="card">
    <form class="search-form">
      <div class="form-group row">
        <input type="text" class="form-control" placeholder="Search...">
      </div>
      <a class="btn btn-primary" {{b "click: openAddTypeModal"}}>
        <i class="fa fa-plus"></i>
        <span>Add</span>
      </a>
    </form>
    <div class="list-group list-group-accordion" id="standardsAccordion">
      {{#each stadardsBookSections}}
        {{> ListItem}}
      {{/each}}
    </div>
  </div>
</template>
