<template name="StandardsList">
  <div class="card">
    <form class="search-form">
      <div class="form-group row">
        {{#ClearableField field="searchText"}}
          <input type="text" class="form-control" placeholder="Search..."
              disabled={{animating}} {{b "ref: searchInput, keyup: onKeyUp"}} />
        {{/ClearableField}}
      </div>
      {{#if canCreateStandards organizationId}}
        <a class="btn btn-primary" {{b "click: openAddTypeModal"}}>
          <i class="fa fa-plus"></i>
          <span>Add</span>
        </a>
      {{/if}}
    </form>
    <div class="list-group list-group-accordion" id="standardsAccordion">
      {{#if isActiveStandardFilter 'section'}}
        {{#each standardsBookSections}}
          {{> ListItem type="standardSection" _id=this._id title=this.title template="StandardsSectionItem"}}
        {{/each}}
      {{else}}
        {{#each standardsTypes}}
          {{> ListItem type="standardType" _id=this._id title=this.name template="StandardsTypeItem"}}
        {{/each}}
      {{/if}}
      <div class="list-group-item list-group-subheading search-results-meta text-muted"
        {{b "if: searchText, text: standards.count + ' matching results'"}}></div>
    </div>
  </div>
</template>
