<template name="StandardsHeader">
  <div class="navbar">
    <span class="navbar-title dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        {{title}} - by section
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item active" href="#">By section</a>
        <a class="dropdown-item" href="#">By type</a>
      </div>
    </span>
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item">
        <a class="nav-link" href="{{pathFor 'dashboardPage' orgSerialNumber=orgSerialNumber}}">
        	<i class="fa fa-angle-left"></i>
        </a>
      </li>
    </ul>
  </div>
</template>
