<template name="StandardsList">
  <div class="card">
    <form class="search-form">
      <div class="form-group row with-loader" {{b "class: { loading: animating }"}}>
        {{#ClearableField clearFn="clearSearchField"}}
          <input type="text" class="form-control" placeholder="Search..."
              disabled={{animating}} {{b "ref: searchInput, keyup: onKeyUp"}} />
        {{/ClearableField}}
        <i class="small-loader fa fa-circle-o-notch fa-spin"></i>
      </div>
      {{#if canCreateStandards organizationId}}
        <a class="btn btn-primary" {{b "click: openAddTypeModal"}}>
          <i class="fa fa-plus"></i>
          <span>Add</span>
        </a>
      {{/if}}
    </form>
    <div class="list-group list-group-accordion" id="standardsAccordion">
      {{#if isActiveStandardFilter 'section'}}
        {{#each standardsBookSections}}
          {{> ListItem type="standardSection" _id=this._id title=this.title template="StandardsSectionItem"}}
        {{/each}}
      {{else}}
        {{#each standardsTypes}}
          {{> ListItem type="standardType" _id=this._id title=this.name template="StandardsTypeItem"}}
        {{/each}}
      {{/if}}

      {{#if searchText}}
        <div class="list-group-item list-group-subheading search-results-meta text-muted" {{b "text: searchResultsText"}}></div>
      {{/if}}
    </div>
  </div>
</template>
