<template name="Risks_Card_Read">
  <div class="content-cards-inner flex scroll">
    {{#if risks.count}}
      {{#Card_Read
        isReadOnly=isReadOnly
        cardTitle="Risk"
        doc=risk
        documentType="risk"
        onRestore=onRestoreCb
        onDelete=onDeleteCb
        onOpenEditModal=onOpenEditModalCb}}

        {{#with risk}}
          <div class="list-group">

            <div class="list-group-item">
              <p class="list-group-item-text">Title</p>
              <h4 class="list-group-item-heading">
                <span {{b "text: this.title"}}></span>
                <span class="label margin-left" {{b "text: this.sequentialId, class: 'label-'+getClassByStatus(this.status)"}}></span>
                <span class="label text-default" {{b "text: getStatusName(this.status)"}}></span>
              </h4>
            </div>

            <div class="list-group-item" {{b "if: this.description"}}>
              <p class="list-group-item-text">Description</p>
              <h4 class="list-group-item-heading" {{b "text: this.description"}}></h4>
            </div>

            {{> Fields_Standards_Read standardsIds=this.standardsIds}}

            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Identified by</p>
                  <h4 class="list-group-item-heading" {{b "text: userNameOrEmail(this.identifiedBy)"}}></h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Date identified</p>
                  <h4 class="list-group-item-heading" {{b "text: renderDate(this.identifiedAt)"}}></h4>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Magnitude</p>
                  <h4 class="list-group-item-heading" {{b "text: capitalize(this.magnitude)"}}></h4>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text">Type</p>
                  <h4 class="list-group-item-heading" {{b "text: renderType(this.typeId)"}}></h4>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                {{#with departmentsIds}}
                  {{> Departments_Read departmentsIds=this}}
                {{/with}}
              </div>
            </div>

          </div>

          {{> Subcards_RootCauseAnalysis_Read
              analysis=this.analysis
              updateOfStandards=this.updateOfStandards}}

          {{#with notify}}
            {{> Subcards_Notify_Read users=this}}
          {{/with}}

          {{> Subcards_RiskScoring_Read scores=this.scores}}

          {{> Subcards_RiskEvaluation_Read riskEvaluation=this.riskEvaluation}}

          {{#with improvementPlan}}
            {{> Subcards_ImprovementPlan_Read
                improvementPlan=this
                label="Treatment plan"}}
          {{/with}}

          {{> Subcards_Actions_Read
              type=ActionTypes.CORRECTIVE_ACTION
              documentId=this._id}}

          {{> Subcards_Actions_Read
              type=ActionTypes.RISK_CONTROL
              documentId=this._id}}

          {{> Subcards_LessonsLearned_Read documentId=this._id}}

          {{> Subcards_OtherFiles_Read files=this.files}}
        {{/with}}
      {{/Card_Read}}
    {{else}}
      <div class="card">
        <div class="card-block card-heading">
          {{#if isActiveRiskFilter 4}}
            <h5>There are no deleted risks yet.</h5>
          {{else}}
            {{#if isActiveRiskFilter 3}}
              <h5>There are no risks with departments/sectors yet.</h5>
            {{else}}
              <h5>There are no risks yet! Click on the 'Add' button to create your first risk.</h5>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
