<template name="SimpleCard">
  <div>
    <a class="card dashboard-item"
      {{b "attr: { href: href }, class: { dashboard-item-disabled: disabled }"}}>
      <div class="card-block">
        <div class="card-content">
          <i class="fa fa-fw dashboard-item-icon" {{b "class: icon"}}></i>
          <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-footer">
          <span class="text-muted">{{text}}</span>
          {{#if notViewedCount}}
            <span class="label label-danger">{{notViewedCount}} new</span>
          {{/if}}
        </div>
      </div>
    </a>
  </div>
</template>
