<template name="ListItem">
  <a class="list-group-item list-group-subheading list-group-toggle pointer collapsed" {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
    <h4 class="list-group-item-heading pull-left">{{this.title}}</h4>
    {{#if collapsed}}
      {{> MessagesCounter unreadMessagesCount=unreadMessagesCount pull="right"}}
    {{/if}}
    {{#if count}}
      <p class="list-group-item-text pull-right margin-left-2x">{{count}}</p>
    {{/if}}
    <p class="list-group-item-text text-danger pull-right" {{b "if: isRTextDisplayed, html: this.rText"}}></p>
  </a>
  <div class="list-group-collapse collapse" {{b "ref: collapse"}}>
    <div class="list-group">
      {{> Template.dynamic template=template}}
    </div>
  </div>
</template>
