<template name="Organizations_Settings">
  {{#ModalWrapper id="org-settings-modal"}}
    {{> ModalHeading title="Org settings" onClose=onClose}}

    {{#GuidancePanel moreInfoLink="#"}}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent vestibulum accumsan nulla, non pulvinar neque.
        Quisque faucibus tempor imperdiet. Suspendisse feugiat,
        nibh nec maximus pellentesque, massa nunc mattis ipsum,
        in dictum magna arcu et ipsum.
      </p>
    {{/GuidancePanel}}

    <form>
      {{> Organizations_MainSettings name=name currency=currency}}
      {{> Organizations_Departments departments=departments organizationId=organizationId}}
      {{> Organizations_StandardsTypes}}
      {{> Organizations_StandardsBookSections}}
      {{> Organizations_NcStepTimes stepTimes=stepTimes}}
      {{> Organizations_NcReminders reminders=reminders}}
      {{> Organizations_NcGuidelines guidelines=guidelines}}
    </form>
  {{/ModalWrapper}}
</template>
