<template name="FileItem">
  <div class="btn-group file-item">
    <div class="button-wrapper">
      <button type="button" class="btn btn-secondary text-xs-left"
          {{b "class: {no-pointer-events: !isUploaded}"}}>
          {{#if extension}}
            <i class="fa fa-lg fa-file-{{extension}}-o margin-right"></i>
          {{/if}}
          <span>{{name}}</span>
      </button>
      <div class="uploading-file {{#if isUploaded}}uploaded{{/if}}">
      </div>
    </div>
    {{> DeleteButton smallIcon=true onClick=removeClickFn}}
  </div>
</template>
