<template name="NC_Card_Read">
  <div class="content-cards-inner flex scroll">
    {{#if showCard}}
      {{#with NC}}
        {{#Card_Read
          isReadOnly=isReadOnly
          cardTitle=(getNameByType this)
          doc=NC
          collection="NonConformities"
          isReady=isReady
          hasDiscussion=true
          isDiscussionOpened=isDiscussionOpened
          pathToDiscussion=pathToDiscussion
          messagesNotViewedCount=messagesNotViewedCount
          onRestore=(callback 'restore')
          onDelete=(callback 'delete')
          onOpenEditModal=(callback 'openEditModal')}}

          <div class="list-group">

            {{#Fields_ListGroupItem_Read
              label="Title"}}
              <span>{{this.title}}</span>
              <span class="label margin-left" {{b "text: this.sequentialId, class: 'label-'+getClassByStatus(this.status)"}}></span>
              <span class="label text-default">
                {{getStatusName this.status}}
                {{#if this.workflowType}}
                  <span class="display-on-parent-hover">({{this.workflowType}} workflow)</span>
                {{/if}}
              </span>
            {{/Fields_ListGroupItem_Read}}

            {{#with this.description}}
              {{> Fields_ListGroupItem_Read
                  label="Description"
                  text=this}}
            {{/with}}

            {{#if isReady}}
              {{> Fields_Standards_Read standardsIds=this.standardsIds}}
            {{/if}}

            <div class="row">
              {{#with this.originatorId}}
                <div class="col-sm-6">
                  {{> Fields_ListGroupItem_Read
                      label="Originator"
                      text=(userNameOrEmail this)}}
                </div>
              {{/with}}
                {{#with this.ownerId}}
                  <div class="col-sm-6">
                    {{> Fields_ListGroupItem_Read
                      label="Owner"
                      text=(userNameOrEmail this)}}
                  </div>
                {{/with}}
            </div>

            <div class="row">
              {{#with this.magnitude}}
                <div class="col-sm-6">
                  {{> Fields_ListGroupItem_Read
                      label="Magnitude"
                      text=(capitalize this)}}
                </div>
              {{/with}}
              {{#with this.ref}}
                {{#if this.text}}
                  <div class="col-sm-6">
                    {{#Fields_ListGroupItem_Read
                      label="Help desk ref"}}
                      {{#if this.url}}
                        <a class="pointer" {{b "attr: { href: this.url }"}}>{{this.text}}</a>
                      {{else}}
                        <span>{{this.text}}</span>
                      {{/if}}
                    {{/Fields_ListGroupItem_Read}}
                  </div>
                {{/if}}
              {{/with}}
            </div>

            {{#with this.cost}}
              <div class="row">
                <div class="col-sm-12">
                  {{> Fields_ListGroupItem_Read
                      label="Financial impact"
                      text=(renderCost this)}}
                </div>
              </div>
            {{/with}}

            {{#if isReady}}
              <div class="row">
                <div class="col-sm-12">
                  {{#with departmentsIds}}
                    {{> Departments_Read departmentsIds=this}}
                  {{/with}}
                </div>
              </div>
            {{/if}}

          </div>

          {{> Subcards_AnalysisWrapper_Read
              analysis=this.analysis
              rootCauseAnalysis=this.rootCauseAnalysis
              updateOfStandards=this.updateOfStandards
              RCALabel=(getAnalysisTitleByType this)
          }}

          {{#if isReady}}
            {{> Subcards_Occurrences_Read occurrences=occurrences}}

            {{> Subcards_Actions_Read
                type=ActionTypes.GENERAL_ACTION
                label="Actions"
                documentId=this._id}}

            {{> Subcards_Actions_Read
                type=ActionTypes.CORRECTIVE_ACTION
                documentId=this._id}}

            {{> Subcards_Actions_Read
                type=ActionTypes.PREVENTATIVE_ACTION
                documentId=this._id}}

            {{> Subcards_ImprovementPlan_Read improvementPlan=this.improvementPlan}}

            {{> Subcards_LessonsLearned_Read documentId=this._id}}

            {{> Subcards_OtherFiles_Read fileIds=this.fileIds}}

            {{#with notify}}
              {{> Subcards_Notify_Read users=this}}
            {{/with}}
          {{else}}
            <div class="m-t-3">
              {{> PreloaderPage size=1}}
            </div>
          {{/if}}

        {{/Card_Read}}
      {{else}}
        {{#unless isReady}}
          {{> PreloaderPage}}
        {{else}} {{#if NCId}}
          {{#CardHeading}}
            <h5>This nonconformity no longer exists in Plio</h5>
          {{/CardHeading}}
        {{/if}} {{/unless}}
      {{/with}}
    {{else}}
      {{#CardHeading}}
        {{#if noSearchResults}}
          <h5>Your search did not match any nonconformities</h5>
        {{else}}
          {{#if isActiveNCFilter 4}}
            <h5>There are no deleted nonconformities yet.</h5>
          {{else}}
            <h5>There are no nonconformities yet! Click on the 'Add' button to create your first nonconformity.</h5>
          {{/if}}
        {{/if}}
      {{/CardHeading}}
    {{/if}}
  </div>
</template>
