<template name="NC_Card_Read">
  <div class="content-cards-inner flex scroll" {{b "class: { content: !NC }"}}>
    {{#if showCard}}
      {{#with NC}}
        {{#Card_Read
          isReadOnly=isReadOnly
          cardTitle="Non-conformity"
          doc=NC
          docType="non-conformity"
          isReady=isReady
          hasDiscussion=true
          isDiscussionOpened=isDiscussionOpened
          pathToDiscussion=pathToDiscussion
          messagesNotViewedCount=messagesNotViewedCount
          onRestore=(callback 'restore')
          onDelete=(callback 'delete')
          onOpenEditModal=(callback 'openEditModal')}}

          <div class="list-group">

            {{#Fields_ListGroupItem_Read
              label="Non conformity name"}}
              <span>{{this.title}}</span>
              <span class="label margin-left" {{b "text: this.sequentialId, class: 'label-'+getClassByStatus(this.status)"}}></span>
              <span class="label text-default">
                {{getStatusName this.status}}
                {{#if this.workflowType}}
                  <span class="display-on-parent-hover">({{this.workflowType}} workflow)</span>
                {{/if}}
              </span>
            {{/Fields_ListGroupItem_Read}}

            {{#with this.description}}
              {{> Fields_ListGroupItem_Read
                  label="Description"
                  text=this}}
            {{/with}}

            {{#if isReady}}
              {{> Fields_Standards_Read standardsIds=this.standardsIds}}
            {{/if}}

            <div class="row">
              {{#with this.identifiedBy}}
                <div class="col-sm-6">
                  {{> Fields_ListGroupItem_Read
                      label="Identified by"
                      text=(userNameOrEmail this)}}
                </div>
              {{/with}}
              {{#with this.identifiedAt}}
                <div class="col-sm-6">
                  {{> Fields_ListGroupItem_Read
                      label="Date identified"
                      text=(renderDate this)}}
                </div>
              {{/with}}
            </div>

            <div class="row">
              {{#with this.magnitude}}
                <div class="col-sm-6">
                  {{> Fields_ListGroupItem_Read
                      label="Magnitude"
                      text=(capitalize this)}}
                </div>
              {{/with}}
              {{#with this.ref}}
                {{#if this.text}}
                  <div class="col-sm-6">
                    {{#Fields_ListGroupItem_Read
                      label="Help desk ref"}}
                      {{#if this.url}}
                        <a class="pointer" {{b "attr: { href: this.url }"}}>{{this.text}}</a>
                      {{else}}
                        <span>{{this.text}}</span>
                      {{/if}}
                    {{/Fields_ListGroupItem_Read}}
                  </div>
                {{/if}}
              {{/with}}
            </div>

            {{#with this.cost}}
              <div class="row">
                <div class="col-sm-12">
                  {{> Fields_ListGroupItem_Read
                      label="Approx cost per occurrence"
                      text=(renderCost this)}}
                </div>
              </div>
            {{/with}}

            {{#if isReady}}
              <div class="row">
                <div class="col-sm-12">
                  {{#with departmentsIds}}
                    {{> Departments_Read departmentsIds=this}}
                  {{/with}}
                </div>
              </div>
            {{/if}}

          </div>

          {{> Subcards_AnalysisWrapper_Read
              analysis=this.analysis
              rootCauseAnalysis=this.rootCauseAnalysis
              updateOfStandards=this.updateOfStandards}}

          {{#with notify}}
            {{> Subcards_Notify_Read users=this}}
          {{/with}}

          {{#if isReady}}
            {{> Subcards_Occurrences_Read occurrences=occurrences}}

            {{> Subcards_Actions_Read
                type=ActionTypes.CORRECTIVE_ACTION
                documentId=this._id}}

            {{> Subcards_Actions_Read
                type=ActionTypes.PREVENTATIVE_ACTION
                documentId=this._id}}

            {{> Subcards_ImprovementPlan_Read improvementPlan=this.improvementPlan}}

            {{> Subcards_LessonsLearned_Read documentId=this._id}}

            {{> Subcards_OtherFiles_Read fileIds=this.fileIds}}
          {{else}}
            <div class="m-t-3">
              {{> PreloaderPage size=1}}
            </div>
          {{/if}}

        {{/Card_Read}}
      {{else}}
        {{> PreloaderPage}}
      {{/with}}
    {{else}}
      <div class="card">
        <div class="card-block card-heading">
          {{#if isActiveNCFilter 4}}
            <h5>There are no deleted non-conformities yet.</h5>
          {{else}}
            <h5>There are no non-conformities yet! Click on the 'Add' button to create your first non-conformity.</h5>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
