<template name="Sources_Create">
  {{#FormField label=label}}
    <div class="btn-group" data-toggle="buttons">
      {{#each attachmentTypes}}
        <label class="btn btn-secondary"
          {{b "click: changeType, class: { active: sourceType === this.id }"}}>
          <input type="radio" name="options" autocomplete="off"> {{this.label}}
        </label>
      {{/each}}
    </div>

    {{#if (isSourceType 'attachment')}}

      {{#if sourceFile}}
        <div class="btn-group file-item">
          <div class="button-wrapper">
            <a class="btn btn-secondary file-label text-xs-left">
              {{sourceFile.name}}
            </a>
          </div>
          {{> DeleteButton smallIcon=true onClick=removeFileFn}}
        </div>
        <p class="no-margin">
          {{#if isDocxFile}}
            File will be uploaded and rendered as HTML when you click on the Save button
          {{else}}
            File will be uploaded when you click on the Save button
          {{/if}}
        </p>
      {{else}}
        <div>
          <span class="btn btn-primary btn-file">
            <i class="fa fa-plus"></i>
            Add
            <input type="file" {{b "value: sourceFile, ref: fileInput, change: update"}} />
          </span>
        </div>
      {{/if}}

    {{else}} {{#if (isSourceType 'url')}}

      <input type="text" class="form-control" placeholder="URL link"
          {{b "value: sourceUrl, focusout: update"}} />

    {{else}} {{#if (isSourceType 'video')}}

      <input type="text" class="form-control" placeholder="YouTube or Vimeo URL"
          {{b "value: sourceVideoUrl, focusout: update"}} />

    {{/if}}{{/if}}{{/if}}
  {{/FormField}}
</template>
