<template name="DiscussionsItem">
	<li>
		<span class="discussions-item-img">
			<img
				src="http://ui2.isometrica.io/ui1-3/assets/img/avatars/avatar-placeholder-14.png"
				alt=""
			>
		</span>

		<div class="discussions-item-info">
			<p>Username</p>
			<p>Message text</p>
			<span class="discussions-item-info-time">HH:mm</span>
			<div class="discussions-item-info-actions">
				<i class="fa fa-ellipsis-h"></i>
				<div class="discussions-item-info-actions-list">
					<ul>
						<li><a href="#">Copy as a link</a></li>
						<li><a href="#">Move to another channel</a></li>
						<li><a href="#">Delete message</a></li>
					</ul>
				</div>
			</div>
		</div>
	</li>
</template>