<template name="WorkInbox_List">
  {{#List_Read
    ref="list"
    _id=workItemId
    onModalOpen=onModalOpen
    onSearchInputValue=onSearchInputValue
    onAfterSearch=onAfterSearch}}

    {{#if isActiveWorkInboxFilter 1}}
      {{#each items.my.current}}
        {{> WorkInbox_Item}}
      {{/each}}
    {{/if}}

    {{#if isActiveWorkInboxFilter 2}}
      {{#each assignees.current}}
        {{> ListItem
            template="WorkInbox_SectionItem"
            title=(userNameOrEmail this)
            items=(getTeamItems this "current")
            count=(get (getTeamItems this "current") "length")}}
      {{/each}}
    {{/if}}

    {{#if isActiveWorkInboxFilter 3}}
      {{#each items.my.completed}}
        {{> WorkInbox_Item}}
      {{/each}}
    {{/if}}

    {{#if isActiveWorkInboxFilter 4}}
      {{#each assignees.completed}}
        {{> ListItem
            template="WorkInbox_SectionItem"
            title=(userNameOrEmail this)
            items=(getTeamItems this "completed")
            count=(get (getTeamItems this "completed") "length")}}
      {{/each}}
    {{/if}}

    {{#if isActiveWorkInboxFilter 5}}
      {{#each items.my.deleted}}
        {{> WorkInbox_Item}}
      {{/each}}
    {{/if}}

    {{#if isActiveWorkInboxFilter 6}}
      {{#each assignees.deleted}}
        {{> ListItem
            template="WorkInbox_SectionItem"
            title=(userNameOrEmail this)
            items=(getTeamItems this "deleted")}}
      {{/each}}
    {{/if}}

  {{/List_Read}}
</template>
