<template name="Organizations_NonConformityGuidelines">
  <div class="card-block card-block-collapse-toggle collapsed" href="#nonconformity-guidelines" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Non-conformity guidelines</h4>
  </div>
  <div class="card-block-collapse collapse" id="nonconformity-guidelines">
    <div class="card-block">
      <div class="form-group">
        <label class="form-control-label">Guideline for magnitude = minor</label>
        <textarea class="form-control" placeholder="Guideline for minor non-conformities" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum nisi vitae libero ultricies facilisis. Mauris et condimentum felis, sed posuere dui.</textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Guideline for magnitude = major</label>
        <textarea class="form-control" placeholder="Guideline for major non-conformities" rows="3">Vivamus ut diam in nulla pulvinar finibus. Phasellus dictum nibh in volutpat hendrerit. Duis eu lacus auctor, varius orci sit amet, sollicitudin sapien. </textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Guideline for magnitude = critical</label>
        <textarea class="form-control" placeholder="Guideline for critical non-conformities" rows="3">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ut dapibus turpis. Aenean consequat tellus nec turpis hendrerit ullamcorper.</textarea>
      </div>
    </div>
  </div>
</template>
