<template name="Organizations_Reminders">
  <div class="card-block card-block-collapse-toggle collapsed" href="#reminders" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Reminders</h4>
  </div>
  <div class="card-block-collapse collapse" id="reminders">
    <div class="card-block">
      <legend>Minor non-conformity</legend>
      <div class="form-group form-group-inline">
        <label class="form-control-label">Remind every</label>
        <div class="input-group margin-right">
          <input type="number" class="form-control" value="1">
          <span class="input-group-btn dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">day</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">hour</a>
              <a href="#" class="dropdown-item active">day</a>
              <a href="#" class="dropdown-item">week</a>
            </div>
          </span>
        </div>
        <label class="form-control-label">until</label>
        <div class="input-group margin-right">
          <input type="number" class="form-control" value="2">
          <span class="input-group-btn dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">hour</a>
              <a href="#" class="dropdown-item active">day</a>
              <a href="#" class="dropdown-item">week</a>
            </div>
          </span>
        </div>
        <label class="form-control-label">past due</label>
      </div>
      <legend>Major non-conformity</legend>
      <div class="form-group form-group-inline">
        <label class="form-control-label">Remind every</label>
        <div class="input-group margin-right">
          <input type="number" class="form-control" value="2">
          <span class="input-group-btn dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">hours</a>
              <a href="#" class="dropdown-item active">days</a>
              <a href="#" class="dropdown-item">weeks</a>
            </div>
          </span>
        </div>
        <label class="form-control-label">until</label>
        <div class="input-group margin-right">
          <input type="number" class="form-control" value="4">
          <span class="input-group-btn dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">hour</a>
              <a href="#" class="dropdown-item active">day</a>
              <a href="#" class="dropdown-item">week</a>
            </div>
          </span>
        </div>
        <label class="form-control-label">past due</label>
      </div>
      <legend>Critical non-conformity</legend>
      <div class="form-group form-group-inline">
        <label class="form-control-label">Remind every</label>
        <div class="input-group margin-right">
          <input type="number" class="form-control" value="3">
          <span class="input-group-btn dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">hours</a>
              <a href="#" class="dropdown-item active">days</a>
              <a href="#" class="dropdown-item">weeks</a>
            </div>
          </span>
        </div>
        <label class="form-control-label">until</label>
        <div class="input-group margin-right">
          <input type="number" class="form-control" value="6">
          <span class="input-group-btn dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">hour</a>
              <a href="#" class="dropdown-item active">day</a>
              <a href="#" class="dropdown-item">week</a>
            </div>
          </span>
        </div>
        <label class="form-control-label">past due</label>
      </div>
    </div>
  </div>
</template>
