<template name="Organizations_Settings">
  <div class="modal fade" id="org-settings-modal">
    <div class="modal-dialog">
      <div class="card">
        {{> ModalHeading}}
        {{> GuidancePanel}}
        <form>
          {{> Organizations_MainSettings}}
          {{> Organizations_Departments}}
          {{> Organizations_StandardsTypes}}
          {{> Organizations_StandardsBookSections}}
          {{> Organizations_WorkflowDefaults}}
          {{> Organizations_Reminders}}
          {{> Organizations_NonConformityGuidelines}}
        </form>
      </div>
    </div>
  </div>
</template>
