<template name="Organizations_StandardsTypes">
  <div class="card-block card-block-collapse-toggle collapsed" href="#standards-types" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Standards types</h4>
    <h4 class="card-title pull-xs-right">
      <span class="text-muted">8</span>
    </h4>
  </div>
  <div class="card-block-collapse collapse" id="standards-types">
    <div class="card-block">
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Process"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="PRO" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Standard Operating Procedure"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="SOP" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Work instruction"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="WORK" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Policy"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="POL" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Specification"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="SPEC" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Test method"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="TEST" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Regulation"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="REG" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <div class="form-group form-group-flex">
        <div class="form-group-flex-flex">
          <input type="text" class="form-control" placeholder="Standard type" value="Customer experience"/>
        </div>
        <input type="text" class="form-control margin-left" placeholder="Short" value="CEX" style="width:100px"/>
        <button type="button" class="btn btn-secondary btn-icon margin-left">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
      <button class="btn btn-primary" type="button">Add standards type</button>
    </div>
  </div>
</template>
