<template name="Organizations_WorkflowDefaults">
  <div class="card-block card-block-collapse-toggle collapsed" href="#workflow-defaults" data-toggle="collapse">
    <h4 class="card-title pull-xs-left">Workflow defaults</h4>
  </div>
  <div class="card-block-collapse collapse" id="workflow-defaults">
    <div class="card-block">
      <legend>Minor non-conformity</legend>
      <div class="form-group row">
        <label class="form-control-label col-sm-4 col-xs-12">Default step time</label>
        <div class="col-sm-4 col-xs-12">
          <div class="input-group">
            <input type="number" class="form-control" value="1">
            <span class="input-group-btn dropdown">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">hours</a>
                <a href="#" class="dropdown-item active">days</a>
                <a href="#" class="dropdown-item">weeks</a>
              </div>
            </span>
          </div>
        </div>
      </div>
      <legend>Major non-conformity</legend>
      <div class="form-group row">
        <label class="form-control-label col-sm-4 col-xs-12">Default step time</label>
        <div class="col-sm-4 col-xs-12">
          <div class="input-group">
            <input type="number" class="form-control" value="2">
            <span class="input-group-btn dropdown">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">hours</a>
                <a href="#" class="dropdown-item active">days</a>
                <a href="#" class="dropdown-item">weeks</a>
              </div>
            </span>
          </div>
        </div>
      </div>
      <legend>Critical non-conformity</legend>
      <div class="form-group row">
        <label class="form-control-label col-sm-4 col-xs-12">Default step time</label>
        <div class="col-sm-4 col-xs-12">
          <div class="input-group">
            <input type="number" class="form-control" value="3">
            <span class="input-group-btn dropdown">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">days</button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">hours</a>
                <a href="#" class="dropdown-item active">days</a>
                <a href="#" class="dropdown-item">weeks</a>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
