<template name="Sources_Edit">
  {{#FormField label=label}}
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-secondary"
        {{b "click: changeType('attachment'), class: { active: sourceType === 'attachment' }"}}>
        <input type="radio" name="options" autocomplete="off"> Attachment
      </label>
      <label class="btn btn-secondary"
        {{b "click: changeType('url'), class: { active: sourceType === 'url' }"}}>
        <input type="radio" name="options" autocomplete="off" checked> URL link
      </label>
      <label class="btn btn-secondary"
        {{b "click: changeType('video'), class: { active: sourceType === 'video' }"}}>
        <input type="radio" name="options" autocomplete="off"> Video
      </label>
    </div>
      <i class="fa pull-right margin-top" {{b "class: { 'fa-spinner fa-pulse': docxRenderInProgress, 'fa-align-left': !docxRenderInProgress && sourceHtmlUrl }"}}></i>
    <div {{b "if: sourceType === 'attachment'"}}>
      {{#with file}}
        {{> FileItem
            file=this
            isReadOnly=isSourceRequired
            removeFile=removeAttachmentFn}}
      {{/with}}
      {{#if showUploader}}
        <div>
          {{> FileUploader
              afterInsert=afterInsertFn
              afterUpload=afterUploadCb
              fileData=fileData
              organizationId=organizationId
              slingshotDirective=slingshotDirective
              metaContext=metaContext
              buttonText=uploaderButtonText
              buttonIcon=uploaderButtonIcon}}
        </div>
      {{/if}}
    </div>
    {{#ClearableField field="sourceUrl"}}
      <input type="text" class="form-control" placeholder="URL link"
          {{b "if: sourceType === 'url', value: sourceUrl, focusout: update"}} />
    {{/ClearableField}}
    {{#ClearableField field="sourceUrl"}}
      <input type="text" class="form-control" placeholder="Video"
          {{b "if: sourceType === 'video', value: sourceUrl, focusout: update"}} />
    {{/ClearableField}}
  {{/FormField}}
</template>
