<template name="SS_Card_Read">
  <div class="content-cards-inner flex scroll">
    {{#Card_Read
      cardTitle="Standard subcards"
      document=NC
      onOpenEditModal=onOpenEditModalCb}}

      {{! NON-CONFORMITIES SUBCARDS}}

      {{#with NC}}
        {{> Subcards_RootCauseAnalysis_Read
          analysis=this.analysis
          updateOfStandards=this.updateOfStandards}}
        {{#with notify}}
          {{> Subcards_Notify_Read users=this}}
        {{/with}}
        {{> Subcards_Occurrences_Read _query=_getOccurrencesQuery}} {{! Where can I find _getOccurrencesQuery ?}}
        {{> Subcards_ImprovementPlan_Read documentId=this._id}}
        {{> Subcards_LessonsLearned_Read documentId=this._id}}
        {{> Subcards_OtherFiles_Read files=this.files}}
      {{/with}}

      {{! STANDARDS SUBCARDS}}

      {{> Subcards_NonConformities_Read _query=_getNCsQuery}}

      {{! RISKS SUBCARDS}}

      {{#with risk}}
        {{> Subcards_RiskScoring_Read scores=this.scores}}
        {{> Subcards_ImprovementPlan_Read documentType="risk" label="Treatment plan" treatmentPlan=this.treatmentPlan}}
      {{/with}}

      {{! ACTIONS SUBCARDS}}

      {{#with action}}
        {{> Subcards_Notes_Read notes=this.notes}}
      {{/with}}
    {{/Card_Read}}
  </div>
</template>
