<template name="SS_Card_Read">
  <div class="content-cards-inner flex scroll">
    {{#Card_Read
      cardTitle="Standard subcards"
      document=customNC
      onOpenEditModal=onOpenEditModalCb}}

      {{! NON-CONFORMITIES SUBCARDS}}

      {{> Subcards_RootCauseAnalysis_Read
        analysis=customNC.analysis
        updateOfStandards=customNC.updateOfStandards}}
      {{> Subcards_Notify_Read users=customNC.notify}}
      {{> Fields_Standards_Read standardsIds=customNC.standardsIds}}
      {{> Departments_Read departmentsIds=customNC.departments}}
      {{> Subcards_Occurrences_Read _query=emptyQuery}}
      {{> Subcards_ImprovementPlan_Read document=customIP}}
      {{> Subcards_LessonsLearned_Read documentId=customNC._id}}
      {{> Subcards_OtherFiles_Read files=customIP.files}}

      {{! STANDARDS SUBCARDS}}

      {{> Subcards_NonConformities_Read _query=emptyQuery}}

      {{! RISKS SUBCARDS}}

      {{> Subcards_RiskAnalysis_Read score=customRisk.score}}
      {{> Subcards_TreatmentPlan_Read treatmentPlan=customRisk.treatmentPlan}}

    {{/Card_Read}}
  </div>
</template>
