<template name="SS_Card_Read">
  <div class="content-cards-inner flex scroll">
    {{#Card_Read
      cardTitle="Standard subcards"
      document=NC
      onOpenEditModal=onOpenEditModalCb}}

      {{! NON-CONFORMITIES SUBCARDS}}

      {{#with NC}}
        {{> Subcards_RootCauseAnalysis_Read
          analysis=this.analysis
          updateOfStandards=this.updateOfStandards}}
        {{#with notify}}
          {{> Subcards_Notify_Read users=this}}
        {{/with}}
        {{> Subcards_Occurrences_Read _query=_getOccurrencesQuery}}
        {{> Subcards_Actions_Read
            type=ActionTypes.CORRECTIVE_ACTION
            documentId=this._id}}
        {{> Subcards_ImprovementPlan_Read documentId=this._id}}
        {{> Subcards_LessonsLearned_Read documentId=this._id}}
        {{> Subcards_OtherFiles_Read files=this.files}}
      {{/with}}

      {{! STANDARDS SUBCARDS}}

      {{> Subcards_NonConformities_Read _query=_getNCsQuery}}

      {{! RISKS SUBCARDS}}

      {{#with risk}}
        {{> Subcards_RiskScoring_Read scores=this.scores}}
      {{/with}}

      {{! ACTIONS SUBCARDS}}

      {{#with action}}
        {{> Subcards_Notes_Read notes=this.notes}}
      {{/with}}

      {{! CONTACT DETAILS + SUPERPOWERS}}

      {{#with user}}
      <div class="card-block card-subheading">
        <h4 class="card-title">Contact details</h4>
      </div>
      <div>
        <div class="list-group">
          <div class="list-group-item">
            <p class="list-group-item-text">Email</p>
            <h4 class="list-group-item-heading"><a href="mailto:{{email}}" {{b "text: this.email" }}></a></h4>
          </div>
          <div class="list-group-item" {{b "if: this.address"}}>
              <p class="list-group-item-text">Address</p>
              <h4 class="list-group-item-heading" {{b "text: this.formattedAddress"}}></h4>
          </div>
          <div class="row">
            {{#each phoneNumbers}}
              <div class="col-sm-6">
                <div class="list-group-item">
                  <p class="list-group-item-text" {{b "text: phoneType(this.type)"}}></p>
                  <h4 class="list-group-item-heading"><a {{b "text: this.number, href: 'tel:' + this.number" }}></a></h4>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="list-group-item" {{b "if: this.skype"}}>
            <p class="list-group-item-text">Skype name</p>
            <h4 class="list-group-item-heading"><a href="skype:{{skype}}?call" {{b "text: this.skype"}}></a></h4>
          </div>
        </div>
      </div>
      <div class="card-block card-subheading">
        <h4 class="card-title" {{b "text: superpowersTitle(this)"}}></h4>
      </div>
      <div>
        <div class="list-group">
          <div class="list-group-item">
            {{#each superpowers this}}
              <h4 class="list-group-item-heading" {{b "class: { text-muted: !this.flag }"}}>
                <i class="ms-Icon{{#if flag}} ms-Icon--check text-success{{else}} ms-Icon--x text-danger{{/if}}">
                </i>
                {{value}}
              </h4>
            {{/each}}
          </div>
          {{#if orgOwnerLabel}}
            <div class="list-group-item">
              <p class="list-group-item-text text-xs-left">{{orgOwnerLabel}}</p>
            </div>
          {{/if}}
        </div>
      </div>
      {{/with}}

    {{/Card_Read}}
  </div>
</template>
