<template name="FileItem">
  <div class="btn-group file-item">
    <div class="button-wrapper">
      <button type="button" class="btn btn-secondary"
          {{b "class: {no-pointer-events: isNotUploaded}"}}>
          {{#if extension}}
            <i class="fa fa-file-{{extension}}-o margin-right"></i>
          {{/if}}
          <span>{{name}}</span>
      </button>
      <div class="uploading-file" {{b "if: isNotUploaded"}}>
      </div>
    </div>
    {{> DeleteButton smallIcon=true onClick=removeClickFn}}
  </div>
</template>
