<template name="ListItem">
  <a class="list-group-item list-group-subheading list-group-toggle" href="#" {{b "click: toggleCollapse({hello: true}), class: { collapsed: collapsed }"}}>
    <h4 class="list-group-item-heading pull-left">{{this.number}}.{{this.name}}</h4>
  </a>
  <div class="list-group-collapse collapse" {{b "ref: collapse"}}>
    <div class="list-group">
      {{#each standards}}
        {{#if eq this.nestingLevel 1}}
          {{> ListSubItem}}
        {{/if}}
        <div class="sub">
          {{#if eq this.nestingLevel 2}}
            {{> ListSubItem}}
          {{/if}}
          <div class="subsub">
            {{#if eq this.nestingLevel 3}}
              {{> ListSubItem}}
            {{/if}}
            <div class="subsubsub">
              {{#if eq this.nestingLevel 4}}
                {{> ListSubItem}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
      <!-- {{#each this.sub}}
        {{> ListSubItem}}
        <div class="sub">
          {{#each this.sub}}
            {{> ListSubItem}}
            <div class="subsub">
              {{#each this.sub}}
                {{> ListSubItem}}
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/each}} -->
    </div>
  </div>
</template>
