<template name="ListItem">
  <a class="list-group-item list-group-subheading list-group-toggle collapsed" href="#" {{b "click: collapse.collapse('toggle')"}}>
    <h4 class="list-group-item-heading pull-left">{{this.number}}.{{this.title}}</h4>
  </a>
  <div class="list-group-collapse collapse" {{b "ref: collapse"}}>
    <div class="list-group">
      {{#each this.sub}}
        {{> ListSubItem}}
        <div class="sub">
          {{#each this.sub}}
            {{> ListSubItem}}
            <div class="subsub">
              {{#each this.sub}}
                {{> ListSubItem}}
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</template>
