<template name="ModalWindow">
  <div class="modal fade" {{b "ref: modal"}}>
    <div class="modal-dialog">
      <div class="card">
        <div class="card-block card-heading">
          {{#unless simple}}
            <div class="card-heading-buttons" {{b "class: { pull-xs-left: !isSave, pull-xs-right: isSave }"}}>
              <button type="button" class="btn btn-link btn-icon guidance-panel-open" {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
                <i class="fa fa-question-circle"></i>
              </button>
              {{#if isSave}}
                <button type="button" class="btn btn-primary" data-dismiss="modal" {{b "click: child.save"}}>Save</button>
              {{/if}}
            </div>
          {{/unless}}
          <h4 class="card-title">{{title}}</h4>
          <div class="card-heading-buttons" {{b "class: { pull-xs-left: isSave, pull-xs-right: !isSave }"}}>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              {{#if closeText}}
                {{closeText}}
              {{else}}
                Close
              {{/if}}
            </button>
          </div>
        </div>
        {{#unless simple}}
          <div class="collapse guidance-panel" {{b "ref: collapse"}}>
            <div class="card-block">
              <p>{{hint}}</p>
              <div class="btn-group">
                <a href="#" class="btn btn-link guidance-panel-close" {{b "click: toggleCollapse"}}>Close</a>
                <a href="#" class="btn btn-link">More info</a>
              </div>
            </div>
          </div>
        {{/unless}}
        {{> Template.dynamic template=template}}
      </div>
    </div>
  </div>
</template>
