<template name="ModalWindow">
  <div class="modal fade" {{b "ref: modal"}}>
    <div class="modal-dialog">
      <div class="card">
        {{#if simple}}
          <div class="card-block card-heading">
            <div class="card-heading-buttons pull-xs-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
            </div>
            <h4 class="card-title">{{title}}</h4>
          </div>
        {{else}}
          <div class="card-block card-heading">
            <div class="card-heading-buttons pull-xs-left">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
              </button>
            </div>
            <h4 class="card-title">{{title}}</h4>
            <div class="card-heading-buttons pull-xs-right">
              <button type="button" class="btn btn-link btn-icon guidance-panel-open" {{b "click: toggleCollapse, class: { collapsed: collapsed }"}}>
                <i class="fa fa-question-circle"></i>
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" {{b "click: child.save"}}>
                {{#if saveButtonText}}
                  {{saveButtonText}}
                {{else}}
                  Save
                {{/if}}
              </button>
            </div>
          </div>
          <div class="collapse guidance-panel" {{b "ref: collapse"}}>
            <div class="card-block">
              <p>{{hint}}</p>
              <div class="btn-group">
                <a href="#" class="btn btn-link guidance-panel-close" {{b "click: toggleCollapse"}}>Close</a>
                <a href="#" class="btn btn-link">More info</a>
              </div>
            </div>
          </div>
        {{/if}}

        {{> Template.dynamic template=template}}
      </div>
    </div>
  </div>
</template>
