<template name="SimpleCard">
  <div>
    <a class="card dashboard-item"
      {{b "attr: { href: href }, class: { dashboard-item-disabled: disabled }"}}>
      <div class="card-block">
        <i class="fa fa-fw dashboard-item-icon" {{b "class: icon"}}></i>
        <h3 class="card-title" {{b "text: title"}}></h3>
        <span class="label label-danger" {{b "if: labelText, text: labelText"}}></span>
        <div class="card-footer">
          <span class="text-muted" {{b "text: text"}}></span>
        </div>
      </div>
    </a>
  </div>
</template>
