<template name="TimePicker">
  <div class="input-group {{cssClass}}">
    <input type="number" class="form-control" min="1"
        {{b "value: timeValue, mousedown: onMouseDown, blur: onBlur"}} />
    <span class="input-group-btn dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle"
          {{b "text: timeUnit"}} data-toggle="dropdown">
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {{#each timeUnits}}
          <a class="dropdown-item"
              {{b "{click: updateTimeUnit(this), class: {active: isSelectedUnit(this)}}"}}>
            {{this}}
          </a>
        {{/each}}
      </div>
    </span>
  </div>
</template>
