<template name="atModalInput">
    {{> Template.dynamic template=templateName}}
</template>

<template name="atModalTextInput">
  <div class="at-input form-group row {{#if isValidating}}validating{{/if}}
      {{#if hasError}}has-danger{{/if}} {{#if hasSuccess}}has-success{{/if}}
      {{#if feedback}}has-feedback{{/if}}">
    <label class="form-control-label col-sm-4 col-xs-12 {{#unless showLabels}}sr-only{{/unless}}"
        for="at-field-{{_id}}">
      {{displayName}} {{#unless required}}{{optionalText}}{{/unless}}
    </label>
    <div class="col-sm-8 col-xs-12">
      <input type="{{type}}" class="form-control" id="at-field-{{_id}}"
          name="at-field-{{_id}}" placeholder="{{placeholder}}"
          autocapitalize="none" autocorrect="off" />
      <button type="button" class="btn btn-link clear-field">
        <i class="fa fa-times-circle"></i>
      </button>
      <span class="text-help {{#unless hasError}}hide{{/unless}}">
        {{errorText}}
      </span>
    </div>
  </div>
</template>

<template name="atModalCheckboxInput">
  <div class="at-input checkbox">
    <label for="at-field-{{_id}}">
      <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
      {{displayName}}
    </label>
  </div>
</template>

<template name="atModalSelectInput">
  <div class="at-input field">
    <label>{{displayName}}</label>
    <select class="form-control" id="at-field-{{_id}}" name="at-field-{{_id}}">
      {{#each values}}
        <option value="{{value}}">{{text}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="atModalRadioInput">
  <div class="at-input form-group">
    <label>{{displayName}}</label>
    {{#each values}}
      <div class="at-input radio">
        <label for="at-field-{{id}}-choice-{{value}}">
          <input id="at-field-{{id}}-choice-{{value}}" type="radio"
              name="at-field-{{id}}" value={{value}}>
          {{text}}
        </label>
      </div>
    {{/each}}
  </div>
</template>

<template name="atModalHiddenInput">
  <input type="hidden" id="at-field-{{_id}}" name="at-field-{{_id}}">
</template>
