<template name="fullPageAtForm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 no-padding">
        <div class="text-xs-center">
          <img src="/p-logo.png" alt="plio logo" id="at-p-logo">
          <img src="/plio-text-logo.png" alt="plio logo" id="at-plio-logo" />
          {{#with template}}
            <h2 id="at-plio-template">{{this.name}}</h2>
          {{/with}}
        </div>
        {{> atForm}}
      </div>
    </div>
  </div>
</template>
