<template name="DashboardFooter">
  <div class="dashboard-footer">
    <div class="dashboard-footer-buttons">
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#invite-modal">
        <i class="fa fa-user-plus margin-right"></i>
        Invite users
      </button>
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-plus margin-right"></i>
        Report a non-conformity
      </button>
    </div>
    <div class="dashboard-footer-logo">
      <img src="plio-logo.png"/>
    </div>
  </div>
</template>
