<template name="DashboardHeader">
  <div class="navbar navbar-branded">
    <ul class="nav navbar-nav pull-xs-left">
      <li class="nav-item dropdown dropdown-company hidden-sm-down">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        	<span class="hidden-xs-down"><img src="default-logo.png"></span>
        	<i class="fa fa-building hidden-sm-up"></i>
        </a>
        <div class="dropdown-menu">
          
        </div>
      </li>
    </ul>
  </div>
</template>
