<template name="ScoreTable_Edit">
  <div class="table-risk-grading">
    <table class="table">
      <tbody>
        {{#with tableData}}
          <tr>
            <th rowspan="7" class="impacts-heading hidden-xs-down"><span {{b "text: this.yHeading"}}></span></th>
          </tr>
          {{#each this.data}}
            {{> ScoreTable_Item
                disabled=disabled
                score=score
                rowId=this._id
                rows=this.rows
                label=this.label
                tableData=tableData
                onUpdate=onUpdateCb}}
          {{/each}}
          <tr class="hidden-xs-down">
            <th colspan="2">&nbsp;</th>
            <th colspan="5" class="probability-heading"><span {{b "text: this.xHeading"}}></span></th>
          </tr>
        {{/with}}
      </tbody>
    </table>
  </div>
</template>
