<template name="UserMenu">
  {{#if currentUser}}
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          <i class="fa fa-circle {{getActiveClass}} label-status"></i>
          <span>{{userFullNameOrEmail currentUser}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          {{#each getStatuses}}
            <a class="dropdown-item {{#if isActiveStatus @index}}active{{/if}}" href="#" {{b "click: changeStatus"}}>
              <i class="fa fa-circle {{css}} label-status"></i>
              {{text}}
            </a>
          {{/each}}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            User preferences
          </a>
          <a class="dropdown-item" href="#">
            User directory
          </a>
          <a class="dropdown-item" href="#" data-toggle="modal">
            Invite users
          </a>
          <a class="dropdown-item" href="#">
            Standard subcards
          </a>
          <a class="dropdown-item" href="#" {{b "click: logout"}}>
            Logout
          </a>
        </div>
      </li>
    </ul>
  {{/if}}
</template>
