<template name="UserMenu">
  {{#if currentUser}}
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pointer" data-toggle="dropdown">
          <i class="fa fa-circle {{getActiveClass}} label-status"></i>
          <span>{{userFullNameOrEmail currentUser}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          {{#each getStatuses}}
            <a class="dropdown-item pointer {{#if isActiveStatus @index}}active{{/if}}" {{b "click: changeStatus"}}>
              <i class="fa fa-circle {{css}} label-status"></i>
              {{text}}
            </a>
          {{/each}}
          {{#if organizationId}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{pathFor 'userDirectoryUserPage' orgSerialNumber=orgSerialNumber userId=currentUser._id}}" {{b "click: goToMyProfile"}}>
              My profile
            </a>
            <a class="dropdown-item" href="{{pathFor 'userDirectoryPage' orgSerialNumber=orgSerialNumber}}">
              User directory
            </a>
            {{#if canInviteUsers organizationId}}
              <a class="dropdown-item" {{b "click: onInviteClick"}}>
                Invite users
              </a>
            {{/if}}
            <a class="dropdown-item disabled">
              Standard subcards
            </a>
            <a class="dropdown-item" {{b "click: logout"}}>
              Logout
            </a>
          {{/if}}
        </div>
      </li>
    </ul>
  {{/if}}
</template>
