.card-block-collapse-toggle {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 15px;
  
  &:before {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -12px;
    color: $blue-color;
    @include transition(all .3s ease);
  }
  
  &:not(.collapsed):before {
    @include rotate(90);
  }
  
  .card-title {
    margin: 0;
    line-height: 22px;

    .text-muted {
      color: #777;
      font-weight: normal;
    }    
  }

  .label {
    font-size: 14px;
  }

	.disclosure-indicator {
  	font-size: 14px;
  	line-height: 20px;
  	color: #777;
	}
	
	.status-indicator {
  	margin-left: 7px;
  	position: relative;
  	top: 2px;
	}

  .guidance-toggle {
    padding: 0;
    margin: -1px 10px;
    float: left;
    width: 20px;
    height: 20px;
    
    i {
      font-size: 16px;
      line-height: inherit;
      top: -1px;
    }
  }
}

.card-block-collapse {
  .card-block {
    border-top: 1px solid #ddd;
    
    > .card {
      @media (max-width:767px) {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        margin-top: -1.25rem;
      }
    }
    
    .card .card-block-collapse-toggle {
      border-top: 0;
      background: #f5f5f5;
    }
  }
}



