.btn {
  font-family: $font-semibold;
  font-weight: normal;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  @include transition(all .3s ease);

  &.disabled, &:disabled {
    cursor: default;
  }

  &-primary {
    background: $blue-color;
    border-color: $blue-color;
    &:hover {
      background: darken($blue-color,5%);
      border-color: darken($blue-color,5%);
    }
  }
  &-info {
    background: $light-blue-color;
    border-color: $light-blue-color;
    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);
    }
    &:hover {
      background: $light-blue-color;
      border-color: $light-blue-color;
    }
  }
  &-success {
    background: $green-color;
    border-color: $green-color;
    &:hover {
      background: darken($green-color,5%);
      border-color: darken($green-color,5%);
    }
  }
  &-warning {
    background: $amber-color;
    border-color: $amber-color;
    &:hover {
      background: darken($amber-color,5%);
      border-color: darken($amber-color,5%);
    }
  }
  &-danger {
    background: $red-color;
    border-color: $red-color;
    &:hover {
      background: darken($red-color,5%);
      border-color: darken($red-color,5%);
    }
  }

  &-link {
    color: $blue-color;
  }
}

.btn-icon {
  width: 36px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  i {
    font-size: 20px;
    line-height: 18px;
    position: relative;
    top: 1px;
    width: 1.28571429em;
    text-align: center
  }
}

.btn-group {
  max-width: 100%;

  .btn-icon i {
    top: 2px;
  }

  &:not([data-toggle="buttons"]):not([role="group"]) > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    max-width: 100%;
    padding-right: 46px;
  }

  &-nomargin {
    margin-bottom: 0 !important;

    .btn {
      margin-bottom: 0 !important;
    }
  }

  &[data-toggle="buttons"] {
    .btn.active {
      background: $light-blue-color !important;
      border-color: $light-blue-color !important;
      color: white !important;
    }
  }
}

/*
  BUTTON ICONS
*/

.btn {
  &:focus, &:active, &:focus:active {
    outline: none !important;
  }

  i {
    &.margin-right {
      margin-right: 5px;
    }

    &.margin-right-2x {
      margin-right: 10px;
    }
  }

  .label {
    &.margin-left {
      margin-left: 5px;
    }

    &.margin-right {
      margin-right: 5px;
    }
  }

  &.btn-checkbox.active[disabled] {
    i {
      color: $light-blue-color;
    }
  }
}

/*
  FILE UPLOAD
*/

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    cursor: pointer;
  }
}

/*
  COLLAPSE BUTTON - switch labels
*/

.btn-collapse {
  &-label {
    &-show {
      display: none;

      .collapsed & {
        display: inline
      }
    }
    &-hide {
      display: inline;

      .collapsed & {
        display: none;
      }
    }
  }
}

.btn-md {
  padding: .375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-inline {
  margin: 0 2px 4px 0;
}

.input-group-btn .btn {
  min-height: 34px;
  text-overflow: initial;
}

.btn {
  &.btn-secondary {
    @include pretty-buttons($btn-secondary-color, $btn-secondary-bg);
  }
  &.btn-primary {
    @include pretty-buttons($btn-primary-color, $btn-primary-bg);
  }
  &.btn-success {
    @include pretty-buttons($btn-success-color, $btn-success-bg);
  }
  &.btn-info {
    @include pretty-buttons($btn-info-color, $btn-info-bg);
  }
  &.btn-warning {
    @include pretty-buttons($btn-warning-color, $btn-warning-bg);
  }
  &.btn-danger {
    @include pretty-buttons($btn-danger-color, $btn-danger-bg);
  }
  &.btn-inverse {
    @include pretty-buttons(white, #474949);
  }
}
