.card {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-bottom: 30px;

  @media (max-width:767px) {
    margin-bottom: 15px;
    border-width: 0 0 1px;
    border-radius: 0;
  }
  
  &-heading {
    @include clearfix;
    border-bottom: 1px solid #ddd;    
    background: #f5f5f5;
    
    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &-buttons {
      position: absolute;
      top: 10px;
      
      .btn {
        float: left;
      }
      
      &.pull-xs-left {
        left: 10px;
        
        .btn {
          margin-right: 10px;
        }
      }
      
      &.pull-xs-right {
        right: 10px;
        
        .btn {
          margin-left: 10px;
        }
      }
    }
  }

  .card-title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    font-family: $font-semibold;
  }
  
  &-block {
    @include clearfix;
    
    hr {
      margin: 1.75rem -1.25rem;
      border-color: #ddd;
    }
    
  }
  
  .table {  
    margin-bottom: 0;
    th, td {
      border-color: #ddd;
      
      &:first-child {
        padding-left: 17px;
      }
    }
  }
  
  &-footer {
    border-radius: 0 0 4px 4px;
  }
}




.content-cards {
  @include flex(1);
  
  .alert {
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px;
  }
  
  .card {    
    &-subheading {
      padding-bottom: 0;
      border-bottom: 0;

      .card-title {
        margin: 0;
        font-size: 18px;
        color: #777;
        font-weight: normal;
        font-family: $font-semilight;       
      }
    }
    
    .list-group {
      border-bottom: 1px solid #ddd;
      padding-top: 8px;
      padding-bottom: 8px;
      
      &-item {
        border: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        
        img {
          height: 40px;
          width: 40px;
          margin-right: 15px;
        }
        
        &-heading {
          font-size: 18px;
          line-height: 24px;
          margin: 0 0 3px;
          font-weight: normal;
          font-family: $font-semilight;
        }
        
        &-text {
          font-size: 14px;
          color: #777;
          margin: 0 0 3px;
          //font-family: $SegoeUI;
          font-weight: normal;
        }
        
        .file-link {
          margin-right: 15px;
          display: inline-block;
          
          i {
            font-size: 22px;
            margin-right: 3px;
            position: relative;
            top: 1px;
          }
        }
      }
    }
    
    .table {
      margin-top: 5px;
      
      border-bottom: 1px solid #ddd;
      
      th {
        border-top: 0;
      }
    }
  }
}


.card-changelog {
  &-toggle {
    cursor: pointer;
    border-top: 0;
    @include flexbox;
    font-size: 12px;
    line-height: 22px;
    color: #777;
    position: relative;
    padding-right: 40px;
    
    &:not(.collapsed) {
      border-radius: 0;
      border-bottom: 1px solid #ddd;
    }
    
    &:after {
      content: "\f106";
      font-family: 'FontAwesome';
      position: absolute;
      right: 15px;
      top: 50%;
      font-size: 24px;
      line-height: 1;
      margin-top: -12px;
      color: #aaa;
      @include transition(all .3s ease);
    }
    
    &.collapsed:after {
      @include rotate(180);
    }
    
    .row {
      @include flex(1);
    }      
  }

  .table {
    margin: 0;
    font-size: 12px;
    border-bottom: 0 !important;
    
    th, td {
      border-color: #ddd;
      border-bottom-width: 1px;
      
      &:first-child {
        padding-left: 1.25rem;  
      }
    }
  }
}