.card {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-bottom: 82px;

  &-divider {
    border-top: 1px solid #ddd;
  }

  .modal & {
    margin-bottom: 20px;
  }

  width: 100%;
  &.new-cards:not(:first-of-type) {
    border-top: 1px solid #ddd;
    margin-top: 0;
  }
  &:empty {
    display: none;
  }

  .search-results-meta {
    padding-left: 14px !important;
    padding-right: 14px;
  }

  * > .display-on-parent-hover  {
    display: none;
  }

  *:hover > .display-on-parent-hover {
    display: inline;
  }

  iframe {
    max-width: 100%;
  }

  &.new-cards {
    position: inherit;

    .card-block-collapse-toggle {
      padding-left: 20px;

      &::before {
        display: none;
      }
    }
  }

  @media (max-width:767px) {
    margin-bottom: 15px;
    border-top: none;
    border-radius: 0;
    border-width: 0 0 1px;
  }

  &-heading {
    @include clearfix;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &-buttons {
      position: absolute;
      top: 10px;
      background-color: #f5f5f5;

      .btn {
        float: left;
      }

      &.pull-xs-left {
        left: 10px;

        .dropdown {
          float: left;
          clear: left;

          .btn {
            color: #373a3c;
          }
        }
        .btn {
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }
        }

      }

      &.pull-xs-right {
        right: 10px;

        .dropdown {
          float: right;
          clear: right;

          .btn {
            color: #373a3c;
          }
        }
        .btn {
          margin-left: 10px;
        }
      }
    }

    .card-title {
      max-width: calc(100% - 151px);
      overflow: visible;
      text-overflow: ellipsis;
    }
  }

  .card-content {
    min-height: 92px;
  }

  .card-title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    font-family: $font-semibold;

    .btn-collapse {
      font-size: 20px;
      padding: 0;
      vertical-align: text-bottom;
      line-height: 20px;
    }
  }

  &-block {
    @include clearfix;

    hr {
      margin: 1.75rem -1.25rem;
      border-color: #ddd;
    }

  }

  .table {
    margin-bottom: 0;

    th, td {
      border-color: #ddd;

      &:first-child {
        padding-left: 17px;
      }
    }
  }

  @media (max-width: 767px) {
    .card-content {
      min-height: inherit;
    }
  }
}

.card:not(.dashboard-item) .card-footer {
  border-radius: 0 0 4px 4px;
  background: #f5f5f5;
  border-top: 0;
}

.content-cards {
  @include flex(1);

  &.expanded,
  .content-cards-inner.expanded {
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
  }

  &.expanded {
    height: 100vh;
  }

  .content-cards-inner {
    position: relative;
    z-index: 101;
    transition-property: left, right, top, bottom;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: all .15s ease;
      transition-property: visibility, background-color;
      visibility: hidden;
      z-index: -1;
    }

    &.expandable {
      z-index: 102;
    }

    &.expanded {
      padding-left: 10%;
      padding-right: 10%;
      overflow-y: scroll;

      &::before {
        visibility: visible;
        background: rgba(0, 0, 0, 0.5);
      }
      .toggle-expand-btn::before {
        content: "\f066";
        font-family: FontAwesome;
      }
    }
  }

  .toggle-expand-btn {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .toggle-expand-btn::before {
    content: "\f065";
    font-family: FontAwesome;
  }

  .alert {
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px;
  }

  .card {
    &-subheading {
      padding-bottom: 0;
      border-bottom: 0;

      .card-title {
        margin: 0;
        font-size: 18px;
        color: #777;
        font-weight: normal;
        font-family: $font-semilight;
      }
    }

    .list-group {
      border-bottom: 1px solid #ddd;
      padding-top: 8px;
      padding-bottom: 8px;

      &-item {
        border: 0;
        padding-top: 8px;
        padding-bottom: 8px;

        .user-avatar {
          margin-right: 15px;
        }

        &-heading {
          font-size: 18px;
          line-height: 24px;
          margin: 0 0 3px;
          font-weight: normal;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $font-semilight;
        }

        &-text {
          font-size: 14px;
          color: #777;
          margin: 0 0 3px;
          //font-family: $SegoeUI;
          font-weight: normal;
        }

        .file-link {
          margin-right: 15px;
          display: inline-block;

          i {
            font-size: 22px;
            margin-right: 3px;
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .table {
      margin-top: 5px;

      border-bottom: 1px solid #ddd;

      &.big {
        font-size: 1.28rem;
      }

      &.borderless {
        border: none;
        & tr > th, td {
          border: none;
        }
      }

      th {
        border-top: 0;
      }
    }
  }
}

.content-cards-flush {
  .content-cards-inner {
    padding: 0;

    .card {
      border-width: 0 0 0 1px;
      border-radius: 0;
      margin: 0;
    }
  }

}

.card-changelog {
  &-toggle {
    cursor: pointer;
    border-top: 0;
    @include flexbox;
    font-size: 12px;
    line-height: 22px;
    color: #777;
    position: relative;
    padding-right: 40px;

    .modal & {
      border-top: 1px solid #e5e5e5;
    }

    &:not(.collapsed) {
      border-radius: 0;
      border-bottom: 1px solid #ddd;
    }

    &:after {
      content: "\f106";
      font-family: 'FontAwesome';
      position: absolute;
      right: 15px;
      top: 50%;
      font-size: 24px;
      line-height: 1;
      margin-top: -12px;
      color: #aaa;
      @include transition(all .3s ease);
    }

    &.collapsed:after {
      @include rotate(180);
    }

    &.waiting:after {
      content: "\f110";
      animation: fa-spin 1s infinite steps(8);
    }

    .row {
      @include flex(1);
    }
  }

  .table {
    margin: 0;
    font-size: 12px;
    border-bottom: 0 !important;

    th, td {
      border-color: #ddd;
      border-bottom-width: 1px;
      word-break: break-word;

      &:first-child {
        padding-left: 1.25rem;
      }

      &:last-child {
        padding-right: 1.25rem;
      }

      &.log-user {
        width: 16%;
      }

      &.log-date {
        padding-right: 1.25rem;
        width: 141px;
      }
    }
  }

  .card-footer {
    .btn.not-visible {
      visibility: hidden;
    }
  }
}

.card-footer {
  background: transparent;
  min-height: 65px;
}
