.chat {  
  background: white;
  position: relative;
  
  @include flex(1);
  @include flexbox;
  @include flex-direction(column);
  
  &-heading {
    min-height: 55px;
  }
  
  &-item {
    padding: .5rem 1.25rem;
    
    &-date {
      text-align: center;
      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        background: #ddd;
        z-index: 1;
      }
      
      span {
        display: inline-block;
        padding: 0 10px;
        background: white;
        position: relative;
        font-family: $font-semibold;
        font-size: 13px;
        z-index: 2;
      }
    }
    &-start {
      border-top: 0;
      padding-top: 1rem;
    }
    &-avatar {
      $avatar-size: 40px;
      border-radius: 50%;
      width: $avatar-size;
      height: $avatar-size;
      float: left;
      margin-right: 15px;
      margin-top: 4px;
    }
    &-card {
      @include clearfix;
    }
    &-author {
      font-size: 15px;
      font-family: $font-semibold;
      margin-right: 5px;
    }
    &-time {
      font-size: 13px;
      color: #999;
      float: right;
    }
    &-channel {
      color: #777;
      font-size: 13px;
    }
    &-text {
      margin: 0;
      font-size: 16px;
  
      .chat-item-start & {
        color: #777;
        
      }
    }
    &-dropdown {
      float: right;
      clear: right;
      
      .btn {
        padding: 0 5px;
        outline: none !important;
        color: #aaa;
        font-size: 18px;
        
        &:hover {
          color: $blue-color;
        }
      }
      &.open .btn {
        color: $blue-color;
      }
      
      .dropdown-menu {
        margin: 0;
      }
    }
    &-reply {
      clear: both;
      padding-top: .5rem;
      .form-group {
        margin: 0;
        padding-left: 55px;
      }
      .form-control {
        font-size: 16px;
        //line-height: 22px;
        background: transparent;  
        //height: 38px;      
      }
      .btn {
        line-height: 22px;
        font-size: 22px;
        margin: 0;
      }
    }
  }
  
  &-content {
    @include scroll;
    @include hide-scrollbar;
  }
  
  &-form {
    padding: 0 1.25rem 1.25rem ;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 2;
  
    .form-group {
      margin: 0;
      position: relative;
      padding-left: 55px;
    }
    
    .input-group {
      position: relative;
      z-index: 2;
    }    
  
    .form-control {
      font-size: 16px;
      //padding: 24px 14px 8px;
      //padding-top: 1.75rem;
      background: transparent;
      
    }
    .btn {
      //padding: 16px 12px;
      line-height: 22px;
      font-size: 22px;
      margin-bottom: 0;
    }
  } 
}