.dashboard-items {
  @include flexbox;
  @include flex-wrap(wrap);
  padding-top: 30px;
  margin: 0 -15px;
  
  @media (max-width:767px) {
    padding-top: 0;
    margin: 0;
  }
  
  @media (min-width:768px) and (max-width:1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  > div {
    @include flexbox;
    padding: 0 15px;

    @media (max-width:767px) {
      width: 100%;
      padding: 0;
    }  
    
    @media (min-width:768px) and (max-width:991px) {
      width: 33.3333%;
    }  
    
    @media (min-width:992px) {
      width: 20%;
    } 
  }

}

.dashboard-item {
  @include flexbox;
  @include flex(1);
  @include flex-direction(column);
  cursor: pointer;
  @include transition(all .3s ease);
  
  @media (max-width:767px) {
    margin-bottom: 0;  
  }

  &:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  }

  &-disabled {
    cursor: default;
    background: #f5f5f5;
    border-style: dashed !important;
    box-shadow: none !important;
  }

	&-icon {
    display: block;
    text-align: center;
    font-size: 42px;
    margin: 10px auto 10px;
    color: $light-blue-color;
    
    @media (max-width:767px) {
      float: left;
      margin: 0 15px 0 0;
    }
	}   
	
	.card-block {
		@include clearfix;
	}
	 
	.card-title {
		margin-top: 0;
		padding: 0;
		margin-bottom: 3px;
		line-height: 20px;
		font-size: 18px;
		text-align: center;
		color: #333;
		
		@media (max-width:767px) {
  	  text-align: left;	
    }
	}

	.card-text {
		margin-bottom: 0;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #777;
	}
	
	.card-footer {
		background: transparent;
		border-color: #ddd;
		text-align: center;
		padding: 1rem;
		
		@media (max-width:767px) {
  	  text-align: left;	
  	  border: 0;
  	  padding: 0;
    }
    
    @media (min-width: 768px) {
      margin: 1.5rem -1.25rem -1rem;
    }
	}
	
	.label {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 13px;
    padding: 4px 8px;
  }
}


.dashboard-stats {
  padding: 5px 0;
  
  @media (max-width:1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width:767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  &-title {
    font-family: $font-light;
    margin: 0 0 10px;
    
    a {
      margin-left: 5px;
    }
  }
  
  &-user {
    margin-right: 15px;
    display: inline-block;
    font-family: $font-semibold;
    padding: 5px 0;
    
    i {
      margin-right: 5px;
      color: #00BCF2;
    }
  }
  
  &-message {
    padding: 5px 0;
    cursor: pointer;
    display: block;
    
    i {
      margin-right: 5px;
      color: #00BCF2;
    }
    
    span {
      margin-left: 5px;
    }
    
    /*
    a {
      opacity: 0;
      margin-left: 5px;
      @include transition(opacity .3s ease);
    }
    
    &:hover a {
      opacity: 1;
    }
    */
  }
  
  &-action {
    padding: 5px 0;
    cursor: pointer;
    display: block;
    
    .label {
      font-size: 14px;
      position: relative;
      top: -1px;
      margin-right: 5px;
    }
    
    .text-danger {
      margin-left: 5px;
    }
  }
}


.dashboard-footer {
  padding: 15px 0;
  @include clearfix;
  
  @media (max-width:1199px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width:767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  &-buttons {
    margin-bottom: 15px;
    
    @media (max-width: 767px) {
      text-align: center;
    }
    
    @media (min-width:768px) {
      float: left;
    }
  
    .btn {
      margin-right: 20px;
      margin-bottom: 15px;
      padding: 10px 18px;
      font-size: 14px;
      
      &:last-child {
        margin-right: 0;
      }
    }    
  }

  &-logo {
    @media (max-width: 767px) {
      text-align: center;
    }
    
    @media (min-width:768px) {
      float: right;
    }

    img {
      height: 34px;
    }
  }
}