.discussions-hd {
	border-bottom: 1px solid #ddd;

	h1 {
		font: 1.29em "Segoe UI Regular WestEuropean", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
		height: 53px;
		line-height: 53px;
		margin:0;
		text-align: center;
	}

	.discussions-hd-top {
		background: #f5f5f5;
		height: 55px;
		padding: 1px 9px;

		.btn {
			float: left;
			margin: 10px 0 0;
		}
	}
}

.discussions-list {
	.discussions-list-holder {
		.discussions-list-holder-1 {}
	}
}

.chat-form {
	.f1 {
		.form-group {
			padding-left: 0;
		}
	}
	.form-group .input-group input[name="message"] {
		border-radius: 0;
	}
}

.label-chat-count {
	border-radius: 10px;
	padding: 0 6px;
	line-height: 20px;
	font-size: 14px;
	display: inline-block;
}

.chat-indicator {
	position: relative;
	right: 3px;
	top: -3px;

	> i {
		font-size: 21px;
    position: relative;
    top: 3px;
	}

	> .label {
		position: absolute;
		right: -3px;
		top: 50%;
		margin-top: -11px;
		margin-left: -2px;
		border-radius: 10px;
		padding: 0.25em 0.5em
	}
}
