/* Inputs */

.form-control {
  color: #333;
  min-height: 35px;
  &.datepicker[readonly]:not([disabled]):not(.disabled) {
    background-color: #fff;
    cursor: pointer;
  }
  &:disabled {
    color: black;
  }
}

.form-group {
  .guidance-panel {
    .card-block {
      padding: 12px 0 0 0;
      border-bottom: none;
      border-top: none;

      .guidance-panel-close {
        margin: 0;
      }
    }
  }
  &.margin-top {
    margin-top: 1rem !important;
  }
}


/* Labels */

.form-control-label {
  font-weight: normal;
  font-family: $font-semibold;

  span {
    vertical-align: top;
    line-height: 23px;
  }

  .form-horizontal &,
  .form-group.row & {
    @media (min-width:768px) {
      text-align: right;
      padding-right: 0;
    }
  }

  .form-group:not(.row) & {
    padding-left: 0;
  }

  &.first-row-label {
    padding-right: 0;

    @media (min-width:768px) {
      text-align: right;
    }
  }

  &.col-xs-12 {
    padding-left: 0.9375rem;
  }
}


/* Rich text */

.rich-text {
  &-controls {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 3px 0;

    .btn {
      border: 0;
    }
  }

  &-input {
    font-size: 0;
    height: 400px;

    .expanded & {
      height: 800px;
    }
  }
}


/* Form buttons */

.form-group {
  .btn {
    margin-bottom: 7px;
  }
}

/* Checkbox button */

.btn-checkbox {
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;

  &.active, &.active:focus {
    background: $light-blue-color;
    border-color: $light-blue-color;

    &:hover {
      background: darken($light-blue-color,5%);
      border-color: darken($light-blue-color,5%);
    }
  }

  i {
    margin: 0;
    color: white;
    font-size: 19px;
  }

  &-label {
    font-family: $font-semibold;
  }
}

/*
  Select dropdowns
*/

.c-select {
  width: 100%;
  color: #333;
  border-radius: .25rem;
}

select {
  &.disabled, &:disabled {
    background-color: #eceeef;
    opacity: 1;
    cursor: not-allowed;
  }
}

/*
  Dropdowns
*/

.dropdown {
  outline: none !important;

  &.show > &-menu {
    display: block;
  }

  &-menu {
    padding: 0;
    margin-top: 0;

    .dropdown-divider:first-child {
      display: none;
    }

    button {
      margin-bottom: 0 !important;
    }

    &-full {
      left: 0;
      right: 0;
    }
  }
  &-item {
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;

    & > .img-wrapper {
      width: 32px;
      height: 32px;
      margin: -4px 15px -8px 0;
    }

    & > .btn {
      margin-right: 0.375rem;
      margin-left: -0.375rem;
    }

    & > strong, & > span {
      vertical-align: middle;
    }

    &.indent {
      padding-left: 30px;
    }
  }
  &-header {
    margin-bottom: 0;
    font-family: $font-semibold;
  }
}

/*
  Form group nested layout - flex
*/

.form-group-flex {
  @include flexbox;

  &-flex {
    @include flex(1);
  }

  .margin-left {
    margin-left: 15px;
  }

  .margin-right {
    margin-right: 15px;
  }

  .btn {
    margin-bottom: 0;
  }
}

/*
  Form group nested layout - rows/cols
*/

.form-group.row .row {
  margin: 0;

  > div {
    padding: 0;

    &:not(:last-child) {
      padding-right: 15px;
    }
  }
}



/* Clear field */

.clear-field {
	position: absolute;
	right: 15px;
	top: 0;
  bottom: 0;
  visibility: hidden;
	font-size: 21px;
	line-height: 1;
	color: #bbb !important;
	transition: all 0.3s ease, visibility 0.15s;
	border: 0;
  z-index: 9;
  margin: 0 !important;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;

	&:hover {
  	color: #99130f !important;
	}

	i {
  	margin: 0 !important;
  	font-size: 21px !important;
  	line-height: inherit;
  	top: 0 !important;
	}

  .ios & {
    padding-right: 0 !important;
  }

  .android & {
    right: 0;
  }
}

input:focus ~ .clear-field {
  visibility: visible;
}

.clearable-field-container {
  position: relative;
  line-height: 34px;

  &.focused > .clear-field {
    visibility: visible;
  }

  .clear-field {
    right: 2px;
    line-height: 22px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding-right: 30px;
  }
}

/* Input group */

.input-group {
  &-btn {
    .btn {
      margin-bottom: 0 !important;
    }
  }

  & > .dropdown > .form-control:first-child {
    border-radius: 0;
  }
}


/* Typeahead */

.input-group-typeahead {
  position: relative;

  .dropdown-menu {
    left: 0;
    max-height: 494px;
    overflow-y: scroll;
  }
}



/* Risk Grading */

.table-risk-grading {

  table {
    margin-bottom: 10px;
    border-bottom: none !important;
  }

  th, td {
    border-color: white !important;
    border-left: 2px solid white;
    border-top: 2px solid white;
    text-align: center;
    width: 1%;
    padding: 10px !important;
    font-weight: 500;

    @media (max-width: 480px) {
      max-width: 50px !important;
      overflow: hidden;
    }

    &.impacts-heading {
      position: relative;
      width: 44px !important;
      padding: 0 !important;
      vertical-align: middle;

      span {
        -webkit-transform: rotate(-90deg);
        display: block;
      }
    }

    &.impact-label {
      background: #eee;

      &:first-of-type {
        min-width: 123px;
      }
    }

    &.impact {
      cursor: pointer;
      position: relative;

      &.disabled {
        opacity: .65;
        pointer-events: none;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        bottom: 0;
        background: rgba(255,255,255,0.6);
        opacity: 1;
        transition: all 0.3s ease;
      }

      &:hover, &:focus, &:active, &.active {
        &:after {
          opacity: 0;
        }
      }
    }

    &.impact-vlow { background: $green-color; }
    &.impact-low { background: $yellow-color; }
    &.impact-medium { background: $amber-color; }
    &.impact-high { background: $red-color; }
    &.impact-vhigh { background: $red-color; }

    @media (max-width: 543px) {
      padding: 0;
    }
  }

  td {
    color: white;
    font-weight: bold;
  }

  @media (max-width: 543px) {
    padding: 0;
  }

}

/*
  FORM GROUP - BUTTONS (e.g. lists of file attachments)
*/

.form-group-buttons {
  .btn, .btn-group {
    margin-right: 3px;
    display: inline-block;
    overflow: auto;
  }

  .btn-group .btn {
    margin-right: 0;

    &.btn-icon {
      position: absolute;
      right: 0px;
      z-index: 2;
    }
  }
}


/*
  LEGEND
*/

legend {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.2;
}

/*
  INLINE FORM GROUPS
*/

.form-group-inline {
  @include clearfix;

  label {
    display: inline-block;
    padding-left: 0;
    float: left;
  }
  .input-group {
    max-width: 130px;
    float: left;
  }

  .margin-right {
    margin-right: 10px;
  }
}

fieldset[disabled] {
  opacity: 0.5;
}

.help-block {
  margin: 0 0 10px;

  & > span {
    word-wrap: break-word;
  }
}

.field-help-message {
  padding: 0 1em !important;
}

.source-file-uploader {
  label.btn.btn-secondary {
    input[type="file"] {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      z-index: -1;
    }
  }

  progress {
    margin-top: 5px;
  }
}

.shroud {
  opacity: 0.5;
}

.file-item, .file-item-read {
  margin-right: 4px;
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  position: relative;

  // Safari progress bar invisible border fix
  padding-left: 0.0158rem;
  .file-item-read {
    margin-right: 0;
    margin-bottom: 0;
  }
  .btn-icon {
    margin-bottom: 0;
    min-height: 34px;
  }
  .btn.file-label {
    position: relative;
    overflow: hidden;
    transition: none;
    margin: 0;

    & > span {
      opacity: 0.4
    }

    &.uploaded {
      & > span {
        opacity: 1;
      }
    }

    &.failed:not(.uploaded) {
      border-color: #d49499;

      .uploading-file {
        background-color: #ff0000;
        opacity: 0.2;
      }
    }

    .uploading-file {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: #000;
      opacity: 0.2;
      transition: all 0.5s ease;

      &.uploaded {
        visibility: hidden;
      }
    }
  }

  .button-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    max-width: calc(100% - 36px);
    overflow: hidden;
    min-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
      border-right: none;
      width: 100%;
      min-height: 34px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.no-pointer-events {
  pointer-events: none;
}

.with-loader {
  .small-loader {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
  }
  &.loading {
    .small-loader {
      display: block;
    }
  }
}

input[disabled], textarea[disabled] {
  & ~ .clear-field {
    display: none;
  }
}

#phones-forms {
  .add-phone {
    min-width: 60%;
  }
}

.dropdown-divider {
  margin: 0;
}

#notifications-checkbox {
  margin-bottom: 0;
}

.input-group .form-control {
  &:only-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}

input[type="number"] {
  min-width: 60px;
}

// Help messages
.help-info {
  .guidance-panel {
    .card-block {
      padding-top: 0;
      border-bottom: none;
      border-top: none;
    }
  }

  .guidance-panel-close {
    margin: 0;
  }

  .help-icon {
    padding: 0 0 1.32rem 1.32rem;
    margin: 0 !important;

    > i {
      color: #aaa;
    }
  }
}

.form-group > .form-control-label > .help-icon {
  float: left;
  margin: -2px 6px 0 0 !important;
}

.quill + .help-info {
  margin-top: 1.32rem;
}

.help-icon {
  padding: 0;
  margin: 0 6px 0 0 !important;
  font-size: 24px;
  line-height: 22px;
}

.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                      transparent 75%, transparent);

    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
