.guidance-panel {
  
  .card-block {
    border-bottom: 1px solid #ddd;
  }
  
  &-open {
    i {
      font-size: 24px;
    }
    
    &:not(.collapsed) {
      display: none;
    }
  }
  
  .btn-group {
    .btn:first-child {
      padding-left: 0;
    }
  }
}