.fa-file-powerpoint-o {
  color: #d44d2f !important;
}

.fa-file-excel-o {
  color: #3e8050 !important;
}

.fa-file-word-o {
  color: #2e5fa2 !important;
}

.fa-file-pdf-o {
  color: #bb0706 !important;
}

i {
  &.margin-left {
    margin-left: 5px;
  }
  &.margin-right {
    margin-right: 5px;
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* Override Font-Awesome */
/* Color Added for Clarity */

[class*="fa-file-"]:before {
  content:"\f016";
  color: #808080;
}

.fa-file-text-o:before,
.fa-file-txt-o:before {
  content:"\f0f6";
  color: #808080;
}

.fa-file-word-o:before,
.fa-file-docx-o:before {
  content:"\f1c2";
  color: #2277bb;
}

.fa-file-doc-o:before {
  content:"\f1c2";
  color: #6164c3;
}

.fa-file-pdf-o:before {
  content:"\f1c1";
  color: #e22919;
}

.fa-file-mp3-o:before,
.fa-file-wav-o:before,
.fa-file-ogg-o:before,
.fa-file-dct-o:before,
.fa-file-flac-o:before {
  content:"\f1c7";
  color: #808080;
}

.fa-file-avi-o:before,
.fa-file-mov-o:before,
.fa-file-flv-o:before,
.fa-file-mp4-o:before,
.fa-file-mpg-o:before,
.fa-file-wmv-o:before{
  content:"\f1c8";
  color: #808080;
}

.fa-file-excel-o:before,
.fa-file-xls-o:before,
.fa-file-xlsx-o:before {
  content:"\f1c3";
  color: #22bb66;
}
.fa-file-powerpoint-o:before,
.fa-file-ppt-o:before,
.fa-file-pptx-o:before {
  content:"\f1c4";
  color: #ff5533;
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before,
.fa-file-bmp-o:before,
.fa-file-gif-o:before,
.fa-file-jpeg-o:before,
.fa-file-jpg-o:before,
.fa-file-png-o:before {
  content:"\f1c5";
  color: #ffaa00;
}
.fa-file-archive-o:before,
.fa-file-bz2-o:before,
.fa-file-dmg-o:before,
.fa-file-gz-o:before,
.fa-file-gzip-o:before,
.fa-file-iso-o:before,
.fa-file-rar-o:before,
.fa-file-tar-o:before,
.fa-file-tgz-o:before,
.fa-file-zip-o:before {
  content:"\f1c6";
  color: #333355;
}

.fa.fa-spin.pull-right {
  min-width: 13px;
}

.fa-stack {
  &> .fa-nudge {
    &-up {
      top: auto;
      bottom: 12%;
    }

    &-right {
      left: 12%;
      right: auto;
    }

    &-down {
      top: 12%;
      bottom: auto;
    }

    &-left {
      left: auto;
      right: 12%;
    }
  }

  &> .fa {
    &-up {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      top: 0;
    }

    &-right {
      position: absolute;
      line-height: inherit;
      right: 0;
    }

    &-down {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      bottom: 0;
    }

    &-left {
      position: absolute;
      line-height: inherit;
      left: 0;
    }
  }
}
