.fa-file-powerpoint-o {
  color: #d44d2f !important;
}

.fa-file-excel-o {
  color: #3e8050 !important;
}

.fa-file-word-o {
  color: #2e5fa2 !important;
}

.fa-file-pdf-o {
  color: #bb0706 !important;
}

i {
  &.margin-left {
    margin-left: 5px;
  }
  &.margin-right {
    margin-right: 5px;
  }
}