html,
body {
	height: 100%;
	overflow: hidden;
	font-size: 14px;
}

body {
  background: #f5f5f5;
  font-family: $font-regular;
}

#app {
	height: 100%;
	overflow: hidden;
	font-size: 14px;
	@include flexbox();
	@include flex-direction(column);
}

.no-responsiveness {
  @media (max-width: 768px) {
    overflow: auto;
    min-width: 850px;
  }
}

@media print {
  #app,
  html,
  body {
    overflow: visible;
  }
  #app {
    display: block;
  }
}

a {
  cursor: pointer;

	&.disabled {
		cursor: default !important;
	}
}

a:focus {
	outline: none;
  text-decoration: none;
}

.scroll {
  @include scroll;
}

.flexbox-row {
  @include flexbox;
}

.flexbox-column {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
}

.flex {
  @include flex(1);
}

.table {
  display: table;
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.vertical-center {
  /* Remove the default bottom margin of .jumbotron */
  margin-bottom: 0;
	height: 100%;
}

.jumbotron {
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .p-logo {
    width: 40px;
    height: auto;
  }
}

.preloader {
  padding-bottom: 10%;
	margin: 0 !important;
}

.content {
  overflow: hidden;
  position: relative;
  @include flex(1);
	height: 100vh;

	&:not(.no-flex) {
  	@include flexbox;
	}

  > .container {
		min-height: 100%;
    @media (max-width:1200px) {
      max-width: none;
    }
  }

  > .container,
  > .container-fluid {
    @include flex(1);
    @include flexbox();
    position: relative;

    > .row {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      height: 100%;
      @include flexbox();
    }
  }

  &-list {
    padding-top: 30px;
    height: 100%;

    @include mobile {
      width: 100%;
      border: 0;
    }
  }

  &-cards {
    height: calc(100vh - #{$navbar-height-standard});
    padding: 0;

    &-inner {
      @media (min-width: 768px) {
        padding: 30px 30px 0;
      }
    }
  }
}

#release-version {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-weight: bold;
  color: #ccc;
  z-index: 9999
}

strong {
  font-weight: normal;
  font-family: $font-semibold;
}

.margin-top {
  margin-top: 5px !important;
}

.margin-bottom {
  margin-bottom: 5px !important;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.relative {
  position: relative !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.hidden {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.margin-right {
  margin-right: 5px;
}
