.modal {
  transform: translateZ(0);

  @media (min-width: 600px) {
    .clearable-field-container .clear-field {
      top: 2px;
    }
    &, .form-control, .btn:not(.help-icon) {
      font-size: 15px;
    }
  }
  .relative {
    .card {
      position: inherit;
    }
  }
  &-dialog {
    @media (max-width: 600px) {
      width: auto;
      margin: 0;
    }

    #choose-add-type-modal & {
      width: auto;

      @media (min-width:768px) {
        max-width: 400px;
      }
    }

    &.ql-expanded {
      overflow: hidden;
    }

    > .card {
      border: 0;

      > .card-heading {
        border-radius: 4px 4px 0 0;
        max-height: 56px;

        .card-title {
          max-width: calc(100% - 200px);
          line-height: 21px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0 auto;
          text-align: center !important;
          font-family: $font-semibold;
        }

        button[data-dismiss="modal"] {
          &:disabled {
            opacity: 0.65;
          }
        }
      }

      .card-block {
        &:not(:first-child) {
          border-top: 1px solid #ddd;
        }

        > .margin-bottom {
          margin-bottom: 1.25rem !important;
        }

        .user-avatar {
          vertical-align: middle;
        }

        .user-avatar + .btn {
          margin-bottom: 0;
        }

        select {
          &.disabled {
            pointer-events: none;
            background-color: #eceeef;
          }
        }
      }

      .list-group {

        border-bottom: none;
        padding: 0;
        &-item {
          &:first-child {
            border-top: 0;
          }
        }

        & > .list-group-item {
          border: 1px solid #ddd;

          &:first-child {
            border-top: 0;
          }
        }
      }

      .card-footer {
        border-top: 1px solid #e5e5e5;
      }

      .modal-error-section, .subcard-error-section {
        i {
          color: red;
          margin-right: 10px;
          float: left;
        }

        i, span {
          display: inline;
        }
      }

      .modal-error-section {
        .card-block {
          border-bottom: 1px solid #ddd;
        }
      }

    }


  }
}

#invite-modal {
  .avatar {
    width: 34px;
    height: 34px;
  }

  .card-block:last-child {
    border-top: 0 !important;
  }
}

#nonconformity-chart-modal {
  .modal-dialog {
    @media (min-width:601px) and (max-width:1199px) {
      width: auto;
      margin: 20px;
    }

    @media (min-width:1200px) {
      width: 1200px;
    }
  }


  .card-block:last-child {
    border-top: 0 !important;
  }
}


#verify-modal {
  .alert {
    border-radius: 0;
    margin: 0;
    border-width: 1px 0;
    margin-top: -1px;
  }

  .card-block:last-child {
    border-top: 0;
  }
}

.org-transfer {
  .cancel, .cancel-transfer {
    padding-right: 0;
  }

  .invitation-info {
    white-space: normal;
    text-align: left;
    display: block;
    padding-bottom: 0;
  }
}

.modal {
  overflow-x: hidden;
  overflow-y: auto;
}
