.standard {
  @include flexbox();
  @include flex-direction(column);

  &-heading {
    margin: 0;
    border-radius: 0;
    border-width: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    padding: 1rem 1.25rem 1.25rem;
    min-height: 127px;
    background: white;
    z-index: 3;
    
    .label-standard {
      $label-standard-size: 70px;
      width: $label-standard-size;
      height: $label-standard-size;
      line-height: $label-standard-size;
      font-size: $label-standard-size/2 - 10px;
      margin-right: 12px;
    }
    
    .btn-sidebar-collapse {
      float: right;
      padding: 0;
      font-size: 28px;
      line-height: 1;
      padding: 0;
      margin-bottom: 3px;
      opacity: 0;
      
      &.collapsed {
        opacity: 1;
      }
    }
    
    .btn-group {
      float: right;
      margin-top: 5px;
      clear: right;
    }
    
    &-dropdown {
      display: inline-block;
    }
    
    &-title {
      font-size: 27px;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 5px;
      
      &:after {
        border-width: .2em; // dropdown chevron size 
      }
    }
    
    &-text {
      font-size: 14px;
      margin: 0 0 2px;
    }
    
    &-issue {
      &-draft {
        //color: #aaa;
        font-family: $font-regular;
        color: #777;
        position: relative;
        top: -2px;
        left: 5px;
        font-size: 14px;
        line-height: 14px;
        //line-height: 14px;
      }
    }
  }

}

.standard-edit {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-bottom: 20px;
  
  &-category {
    .form-control {
      border:0;
      box-shadow: none;
      outline: none;
      border-radius: 0;
      background: transparent;
      padding-left: 0;
      font-size: 16px;
      //font-family: $font-semibold;
    }
  }
  
  .form-control {
    border:0;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    background: transparent;
    padding: 0;
    line-height: 1.6;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    
    &:focus {
      border-bottom-color: $blue-color;
    }
  }
  
  &-label {
    width: 90px;
    height: 90px;
    padding: 8px;
    float: left;
    margin-bottom: 1rem;
    margin-top: .5rem;
    margin-right: 1.25rem;
    
    .form-group {
      margin: 0;
    }
    
    .form-control {
      text-align: center;
      color: white;
      font-size: 24px;
      line-height: 1.5;
      padding: 0;
      border-bottom-color: white;
      
      &:focus {
        border-bottom-color: white;
      }
      
      @include placeholder {
        color: rgba(255,255,255,0.5);
      }
    }
  }
  
  &-content {   
    @include flex(1);
    .form-group {
      margin: 0 0 .3rem;
    }
  }
  
  &-title {
    font-size: 24px !important;
  }
  
  .dropdown-menu {
    right: 0;
  }
  
  > .form-group {
    width: 100%;
  }
}

.card.standard-details {
  .content-list {
    width: 100%;
    border-right: none;

    .list-group-toggle {
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
    }

    .list-group-collapse {
      margin: 0;
    }
  }

  .source-document-item {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 4%;
    background-color: #f5f5f5;

    .source-document-preview-wrapper {
      position: relative;

      .source-document-preview {
        position: relative;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        background-color: #fff;
        height: 70vh;
        width: 100%;
        overflow: scroll;
        
        iframe {
          display: block;
          position: relative;
          padding: 30px 30px 0px 30px;
          background: transparent;
          height: 100%;
          width: 100%;
          border: none;
          z-index: 1;

          @media (max-width: 500px) {
            padding: 20px 20px 0px 20px;
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: -moz-linear-gradient(top, rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 12%,rgba(179, 179, 179, 0.32) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );
        z-index: 0;
      }
    }

    .list-group-item {
      background-color: transparent;
      padding-left: 0 !important;
      padding-bottom: 0;
      padding-top: 16px;
      .list-group-item-heading {
        margin: 0;
      }
    }
  }
}
