$red-color: #E81123;
$amber-color: #FF8C00;
$yellow-color: #FFB900;
$green-color: lighten(#107C10,10%);
$blue-color: #0078d7;
$light-blue-color: #00BCF2;

$font-light: 'Segoe UI Light WestEuropean', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
$font-semilight: 'Segoe UI Semilight WestEuropean', 'Segoe UI Semilight', 'Segoe WP Semilight', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
$font-regular: 'Segoe UI Regular WestEuropean', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
$font-semibold: 'Segoe UI Semibold WestEuropean', 'Segoe UI Semibold', 'Segoe WP Semibold', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;

$navbar-background: #444;
$navbar-height-standard: 50px;
$navbar-height-branded: 80px;