<template name="ActionsList">
  <div class="card">
    <form class="search-form">
      <div class="form-group row with-loader" {{b "class: { loading: animating }"}}>
        {{#ClearableField field="searchText"}}
          <input type="text" class="form-control" placeholder="Search..."
              disabled={{animating}} {{b "value: searchText, focus: focused, change: searchOnAfterKeyUp, throttle: 500"}} />
        {{/ClearableField}}
        <i class="small-loader fa fa-circle-o-notch fa-spin"></i>
      </div>
      <a class="btn btn-primary" {{b "click: openModal"}}>
        <i class="fa fa-plus"></i>
        <span>Add</span>
      </a>
    </form>

    <div class="list-group list-group-accordion">

      {{#if isActiveActionFilter 'My current actions'}}
        {{#each myCurrentActions}}
          {{> ActionItem}}
        {{/each}}
      {{/if}}

      {{#if isActiveActionFilter 'Team current actions'}}
        {{#each teamCurrentActionsAssignees}}
          {{> ListItem
              template='ActionSectionItem'
              title=(userFullNameOrEmail this)
              actions=(teamCurrentActions this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveActionFilter 'My completed actions'}}
        {{#each myCompletedActions}}
          {{> ActionItem}}
        {{/each}}
      {{/if}}

      {{#if isActiveActionFilter 'Team completed actions'}}
        {{#each teamCompletedActionsAssignees}}
          {{> ListItem
              template='ActionSectionItem'
              title=(userFullNameOrEmail this)
              actions=(teamCompletedActions this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveActionFilter 'Deleted actions'}}
        {{#each actionsDeleted}}
          {{> ActionItem}}
        {{/each}}
      {{/if}}

      {{#if searchText}}
        <div class="list-group-item list-group-subheading search-results-meta text-muted" {{b "text: searchResultsText"}}></div>
      {{/if}}
    </div>
  </div>
</template>
