<template name="NC_List">
  {{#List_Read
    ref="list"
    _id=NCId
    onModalOpen=onModalOpen
    onSearchInputValue=onSearchInputValue
    onAfterSearch=onAfterSearch}}

      {{#if isActiveNCFilter NonconformityFilterIndexes.MAGNITUDE}}
        {{#each magnitude}}
          {{> ListItem
              template="NC_SectionItem"
              items=this.items
              title=this.name
              magnitude=this.value
              hideRTextOnExpand=true
              unreadMessagesCount=this.unreadMessagesCount
              rText=(calculateTotalCost this.items)}}
        {{/each}}
      {{/if}}

      {{#if isActiveNCFilter NonconformityFilterIndexes.STATUS}}
        {{#each statuses}}
          {{> ListItem
              template="NC_SectionItem"
              items=this.items
              title=(getStatusName this.status)
              hideRTextOnExpand=true
              unreadMessagesCount=this.unreadMessagesCount
              rText=(calculateTotalCost this.items)}}
        {{/each}}
      {{/if}}

      {{#if isActiveNCFilter NonconformityFilterIndexes.DEPARTMENT}}
        {{#each departments}}
          {{> ListItem
              template="NC_SectionItem"
              items=this.items
              title=this.name
              closeAllOnCollapse=false
              hideRTextOnExpand=true
              unreadMessagesCount=this.unreadMessagesCount
              rText=(calculateTotalCost this.items)}}
        {{/each}}
      {{/if}}

      {{#if isActiveNCFilter NonconformityFilterIndexes.PROJECT}}
        {{#each projects}}
          {{> ListItem
            template="NC_SectionItem"
            items=this.items
            title=this.title
            closeAllOnCollapse=false
            hideRTextOnExpand=true
            unreadMessagesCount=this.unreadMessagesCount
            rText=(calculateTotalCost this.items)}}
        {{/each}}
      {{/if}}

      {{#if isActiveNCFilter NonconformityFilterIndexes.DELETED}}
        {{#each deleted}}
          {{> NC_Item}}
        {{/each}}
      {{/if}}

  {{/List_Read}}
</template>
