<template name="NC_List">
  {{#List_Read
    ref="list"
    _id=NCId
    onModalOpen=onModalOpen
    onSearchInputValue=onSearchInputValue}}

      {{#if isActiveNCFilter 1}}
        {{#each magnitude}}
          {{> ListItem
              template="NC_SectionItem"
              title=this.name
              magnitude=this.value
              hideRTextOnExpand=true
              rText=(calculateTotalCost this.value)
              _query=(_getMagnitudeQuery this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveNCFilter 2}}
        {{#each statuses}}
          {{> ListItem
              template="NC_SectionItem"
              title=(getStatusName this)
              _query=(_getStatusQuery this)
              hideRTextOnExpand=true
              rText=(calculateTotalCost this)}}
        {{/each}}
      {{/if}}

      {{#if isActiveNCFilter 3}}
        {{#each departments}}
          {{> ListItem
              template="NC_SectionItem"
              title=this.name
              closeAllOnCollapse=false
              hideRTextOnExpand=true
              rText=(calculateTotalCost this._id)
              _query=(_getDepartmentQuery this)}}
        {{/each}}

        {{#with uncategorizedByDepartments}}
          {{> ListItem
              template="NC_SectionItem"
              title=this.name
              closeAllOnCollapse=false
              hideRTextOnExpand=false
              _query=(_uncategorizedByDepartmentsQuery this)
              _options=this.options}}
        {{/with}}
      {{/if}}

      {{#if isActiveNCFilter 4}}
        {{#each NCsDeleted}}
          {{> NC_Item}}
        {{/each}}
      {{/if}}

  {{/List_Read}}
</template>
