<template name="StandardsList">
  {{#List_Read
    ref="list"
    _id=standardId
    isModalButtonVisible=(canCreateAndEditStandards organizationId)
    onModalOpen=onModalOpen
    onSearchInputValue=onSearchInputValue
    _transform=_transform}}

    {{#if isActiveStandardFilter 1}}
      {{#each sections}}
        {{> ListItem
            template="StandardSectionItem"
            title=this.title
            _query=(_getQuery this)}}
      {{/each}}
    {{/if}}

    {{#if isActiveStandardFilter 2}}
      {{#each types}}
        {{> ListItem
            template="StandardTypeItem"
            title=this.name
            type="standardType"
            _id=this._id}}
      {{/each}}
    {{/if}}

    {{#if isActiveStandardFilter 3}}
      {{#each standardsDeleted}}
        {{> Standards_Item_Read}}
      {{/each}}
    {{/if}}

  {{/List_Read}}
</template>
