<template name="OrganizationsMenu">
  <ul class="nav navbar-nav pull-xs-left">
    <li class="nav-item dropdown dropdown-company hidden-sm-down">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">
        {{#with organization}}
          <span class="hidden-xs-down org-name" {{b "text: this.name"}}></span>
        {{else}}
          <span class="hidden-xs-down org-name">Not Found</span>
        {{/with}}
        <i class="fa fa-building hidden-sm-up"></i>
      </a>
      <div class="dropdown-menu">
        {{#each organizations}}
          {{> OrganizationsMenuItem}}
        {{/each}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item org-settings-modal-link"
            {{b "click: openOrgSettings"}}>
          Org settings
        </a>
      </div>
    </li>
  </ul>
</template>
