<template name="UserDirectory_Card_Read">
  <div class="content-cards-inner flex scroll" {{b "class: { content: !user }"}}>
    {{#if user}}
      <div class="card">
        <div class="card-block card-heading clearfix">
          <div class="card-heading-buttons pull-xs-right">
            <a class="btn btn-primary" data-toggle="modal"
                data-target="#user-edit-modal" {{b "click: openEditUserModal"}}>
              Edit
            </a>
          </div>
          <h3 class="card-title">User details</h3>
        </div>
        {{> UserDirectory_Card_Read_Inner user=user}}
        <div class="card-footer"></div>
      </div>
    {{else}}
      {{> PreloaderPage}}
    {{/if}}
  </div>
</template>
